{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block breadcrumbs %}{{ super() }}{% endblock breadcrumbs %}
{% block content %}

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "NewsArticle",
		"headline": "Fiction | Coup! Table of Contents",
		"url": "http://interactive.nydailynews.com/fiction/coup/about/table-of-contents/",
		"thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
		"dateCreated": "2017-06-12T05:00:00Z",
		"articleSection": "Interactive",
		"creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
		"keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>Table of Contents</h1>
<div class="chapter-text">
<ul>
	<li><a href="/fiction/coup/">Prologue</a></li>
{% for item in response.app.chapters|sort %}
    {% if 'Ch' in response.metadata_all[item].title %}
    <li><a href="{{response.metadata_all[item].url}}">{{response.metadata_all[item].title.replace('Fiction | Coup! Ch.', 'Chapter')}}</a></li>
    {% endif %}
{% endfor %}
{% include 'includes/kindle.html' %}
</ul>
</div>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/toc-perry-kisliak.png" alt="A cartoon drawing of Rick Perry on his mobile phone being watched by Kisliak through a window">
</div>


{% endblock content %}
