<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 1: The crumbling Trump Administration",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/01/",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>The crumbling Trump Administration</h1>
{% include 'includes/social.html' %}
<div class="full-width">
    <img src="{{response.app.url_root}}static/img/01-trump.png" alt="A cartoon drawing of President Trump addressing Congress while Mike Pence looks on">
</div>

<p class="date">Monday, June 12, 2017</p>

<p class="dropcap">Get me a copy of the goddamned Constitution!&rdquo;</p>

<p>The Trump Administration was collapsing — so Mike Pence was at the Eisenhower Executive Office Building, barking orders at his loyal aide Fred Wilhelm. Pence felt responsible for the ever-spiraling crisis even though, of course, President Trump was the one with the itchy Twitter finger and the self-restraint of a 2-month-old with a full bladder.</p>

<p>In a whirlwind few weeks, the political novice and undiagnosed narcissist had tried to run the government like he ran his frequently bankrupt businesses: like a frat bro. Maybe that works for a family-owned outfit, but it doesn’t work in the ultimate compromise factory, Washington, D.C., where memories and knives are long.</p>

<p>The chaos-causing President had been in turmoil pretty much every day of his administration:</p>

<ul>
    <li>He was constantly in court over a hastily drafted ban on Muslim immigrants...</li>
    <li>He discussed his response to a North Korean missile test with the Japanese prime minister in public at dinner at his golf club...</li>
    <li>He drew guffaws after praising what a good job Frederick Douglass, dead these last 122 years, was doing these days...</li>
    <li>He made headlines every time his wife — the First Lady! — refused to hold his hand in public...</li>
    <li>He took on a clothing retailer for dropping his daughter’s line of rags...</li>
    <li>He lost a cabinet nominee amid allegations that he had beaten his wife...</li>
    <li>He completely fabricated a terror attack in Sweden...</li>
    <li>He claimed without evidence that his predecessor had wiretapped his offices in Trump Tower...</li>
    <li>His aide Kellyanne Conway brought the term <q>alternative facts</q> into the national lexicon in a bizarre attempt to defend the President from the dishonest media...</li>
</ul>

<p>...but the prior three weeks or so had been so catastrophic that even some Republicans were calling for the President’s head.</p>

    {% include 'includes/ad02.html' %}

<p>First, he ordered Deputy Attorney General Rod Rosenstein to draft a memo outlining why the President should fire FBI Director James Comey — a big no-no in Washington for a million reasons, not the least of which is that Comey was leading an investigation into Trump’s possible collusion with Russia. Firing Comey at that moment could lead to an obstruction of justice charge — an impeachable offense.</p>

<p>But Rosenstein drafted an airtight rationale for firing Comey: his mishandling of the investigation into Hillary Clinton’s private email server reflected such incompetence that he could no longer lead the nation’s crown jewel of law enforcement.</p>

<p>But instead of letting Rosenstein’s memo stand as Trump’s public statement on the matter, the President did an interview with Lester Holt hours later and said that he had intended to fire Comey all along because the Russia investigation is fake news.</p>

<p>Worse, by throwing the career civil servant Rosenstein under the bus, Trump committed a horrible unforced error. Indeed, Rosenstein had only one way to regain a shred of his tattered reputation: The <q>acting attorney general</q> — a nice reminder that the actual Attorney General Jeff Sessions was not available after he’d already recused himself because of his own ties to Russia — appointed a special prosecutor to investigate Trump’s collusion with our enemy.</p>

<blockquote>
    It was reported that Trump gave the Russians secret, highly classified information during an Oval Office meeting — then threw his own new National Security Adviser H.R. McMaster under a different bus after McMaster defended him.
</blockquote>

<p>And that was only one of the breaking news alerts that had smartphones blinking all day and night. In what would have once been considered the same news cycle, it was revealed that Trump tried to get Comey to drop his investigation of former National Security Adviser Mike Flynn’s own ties to Russia and to Turkey’s Russia-like strongman; it came out that Trump knew about Flynn’s work as a lobbyist for Turkey, yet hired him anyway for the top security post; it was reported that Trump gave the Russians secret, highly classified information during an Oval Office meeting — then threw his own new National Security Adviser H.R. McMaster under a different bus after McMaster defended him.</p>

<p>And then it came out that Comey had kept detailed notes of all the times Trump pressured him -- so much pressure that the head of the FBI said he didn't feel comfortable being alone with the President, lest the Leader of the Free World pull a Don Corleone on him and keep making him offers that he can't refuse.</p>

<p>Comey capped off the weeks of turmoil by telling Congress that President Trump was simply a liar. Not a good look for the White House -- or its staffers.</p>

<p><q>No wonder everyone is leaking all over town,</q> Pence thought, angry at himself for not seeing the warning signs earlier.</p>

<p class="dropcap">If anyone should have been able to see this coming, it should have been Pence. The son of a gas-station owner and a housewife, Mike Pence had lost two congressional elections before finally winning one, spent the next 12 years voting the Right way in the House and got his reward with the governorship of Indiana, which is the political equivalent of getting promoted to head supervisor of the Vince Lombardi Service Area on the Jersey Turnpike — a nice title, but not exactly a prestige posting.</p>

<p>Yes, something bothered Pence from the moment Donald Trump chose him to be his running mate...</p>

<ul>
    <li>He knew Mexico wasn’t going to pay for any wall — and he didn’t like repeating Trump’s red-meat line that the <q>bad hombres</q> would pony up...</li>
    <li>He thought about his own daughters when a video surfaced of Trump bragging about grabbing women by the pussy...</li>
    <li>He didn’t like when Trump whipped the crowds into their <q>Lock her up!</q> frenzy whenever he mentioned Hillary Clinton...</li>
    <li>He wasn’t comfortable that the future President of the United States had Howard Stern and TMZ on speed dial...</li>
    <li>He certainly didn’t like that Trump appeared to make foreign policy decisions based on where he hoped to build a hotel...</li>
    <li>And he didn’t like when Trump declared that Vladimir Putin, the murderous, oppressive leader of a hostile Russia, was a stronger leader than democratically elected President Obama. Even if Pence considered Obama a nominally patriotic Kenyan-American, he was still better than a former KGB spy whose opponents tend to have the same half-life as Strontium 90...</li>
</ul>

    {% include 'includes/ad03.html' %}

<p>And Pence, who once described himself as <q>a Christian, a conservative, and a Republican — in that order,</q> felt uncomfortable with the President’s marriage. Every time he saw Donald and Melania Trump together, he would notice how the First Lady maintained a distance narrow enough to still be considered a wife, but wide enough to be a clear sign of revulsion. Even when the President still looked fully capable of performing all the duties of his office, it never looked like his wife would allow him to perform corresponding duties in the bedroom.</p>

<blockquote>A reality TV star rode a message of immigrant-hatred, a smattering of anti-tax rhetoric, a borscht bowl of Russophilia, an unhealthy dose of narcissism, and reams of anti-media demagogy all the way to the White House.</blockquote>

<p>Trump, of course, won the election, recoloring the map from light blue to light red with a Sharpie he stole from the set of <q>The Apprentice.</q> To win the nomination, he defeated 16 Republicans — many of whom would have earned the nomination in a normal year. But 2016 was no normal year: A reality TV star rode a message of immigrant-hatred, a smattering of anti-tax rhetoric, a borscht bowl of Russophilia, an unhealthy dose of narcissism, and reams of anti-media demagogy all the way to the White House.</p>

<p>Pence knew that someone had to be the adult diaper on the incontinent new administration. And that someone was Michael R. Pence. But now Pence felt he had to do something to end this particular American carnage — which explains why he was yelling at a young aide to grab a copy of America’s governing document.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/01-trump-tweets.png" alt="A cartoon drawing of Donald Trump tweeting on his smartphone">
</div>

<p class="dropcap">Wilhelm! What the hell is keeping you?” Wilhelm finally arrived with a copy of the Constitution. <q>I’m sorry that took so long, sir. It seems the President removed all the history books from the vice president’s study. The only books in there are ’The Art of the Deal,’ ’The Art of the Comeback’ and ’The Best Golf Advice I Ever Received’ in multiple copies grouped by language.</q></p>

<p><q>He’s using my study as a bookstore?</q> Pence wondered.</p>

<p><q>He even has 50 copies of ’The America We Deserve’ translated into Russian,</q> Wilhelm said, handing over the pocket-sized Constitution.</p>

<p>Pence skipped over the flowery parts but something that caught his eye in Article II, Section 6: <q>In Case of the Removal of the President from Office</q> for <q>inability to discharge the Powers and Duties of the said Office.</q></p>

<p><q>Inability to discharge the powers and duties...?</q> Pence muttered. <q>I wonder who gets to decide that?</q></p>

<p><q>You do, Mr. Vice President, thanks to the 25th Amendment,</q> Wilhelm said.</p>

<p>Pence stood up quickly.</p>

<p><q>Twenty-fifth?</q> Pence yelled. <q>Did you say ’25th’?! <q>That’s what Biden was blinking to me! Twenty-five! Joe F’ing Biden.</q></p>

<p><q>What do you mean, sir?</q> Wilhelm said.</p>

<p class="dropcap">It all came back to Pence in that moment, how the 48th Vice-President of the United States spent most of Jan. 20, 2017, plastering a Boy Scout smile on his face as he watched the 45th President of the United States, Donald Trump, take the oath of office, and deliver the political equivalent of a fire-and-brimstone speech about how America was not a nation but a graveyard of factories with citizens committing mass carnage against each other. From now on, the new President said, <q>it’s going to be only America first. America first.</q></p>

<p><q>My God!</q> Pence thought as he watched Trump extend his thumbs and smile as if he’d just won a free cone at Carvel. <q>Does he even know he stole that from Reagan, who stole it from the anti-war isolationists who helped the Nazis?</q></p>

<p>The speech mercifully ended. Pence turned around and, sure enough, there was Joe Biden standing with his arms out. Biden was a class act. Sure, his candidate had lost to the buffoonish Trump, but Biden was eager to offer his congratulations.</p>

<blockquote>Pence turned around and there was Joe Biden standing with his arms out. <q>Mike, just promise me you’ll make sure he doesn’t do anything crazy.</q></blockquote>

<p><q>It’s all yours, Mr. Vice President,</q> Biden said, grabbing Pence into a close bear hug that the normally reticent Pence found himself returning (Biden had that effect on people).</p>

<p>But this was no normal hug. Biden was drawing Pence closer so he could whisper in his ear. <q>Mike,</q> he said, <q>just promise me you’ll make sure he doesn’t do anything crazy.</q></p>

<p><q>Mr. Vice President, you have my word,</q> Pence said.</p>

<p>And then Biden started blinking at him. Two quick ones, followed by three slow ones, followed by five quick ones.</p>

<p><q>Is there something in your eyes, Mr. Vice President?</q> Pence said.</p>

<p><q>You tell me,</q> Biden said.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/01-biden-blinks.png" alt="A cartoon drawing of former Vice President Joe Biden blinking morse code messages to Vice President Mike Pence">
</div>

<p>There it was again: Two quick, three slow and five quick.</p>

<p>There could be no mistaking it. Biden was signaling Pence in Morse Code. The outgoing vice president knew the famous dot-and-dash code from his days on the Senate Foreign Relations Committee, whose Democratic members used it to signal each other when they were dismayed or frustrated with the Republicans.</p>

<p><q>Dot dash dash, dash, dot dot dash dot,</q> he would blink at Chris Dodd whenever Jesse Helms opened his flabby mouth.</p>

<p>WTF, indeed.</p>

    {% include 'includes/ad04.html' %}

<p>Pence also knew Morse Code, but he had no idea why Joe Biden would be blinking <q>25</q> at him. For all he knew it was the security code to some locked drawer in the vice president’s office where Biden had left him a bottle of Scotch. After all, Pence never drank in public without his wife, but a little office nip wasn’t going to break any rules...</p>

<p>Pence flipped deeper into the Constitution.</p>

<blockquote>Section 1: In case of the removal of the President from office or of his death or resignation, the Vice President shall become President.</blockquote>

<p><q>There it is!</q> he said, stabbing a potatoey finger at the third-to-last amendment. <q>I remember it now! They wrote it in the 1960s after Kennedy was shot to make sure there was a way to deal with an incapacitated President.</q></p>

<p>Pence read it out loud:</p>

<p><q>Section 1: In case of the removal of the President from office or of his death or resignation, the Vice President shall become President.</q></p>

<p><q>Yeah, yeah, obviously!</q> Pence breathed impatiently. As every Hoosier knows, after William Henry Harrison died just 31 days into his term, his vice president, John Tyler, became President. But everyone called him ’Acting President,’ which he hated. He showed them. Moved into the damn White House two days after Ol’ Tippecanoe died. <q>Lemme skip to the good parts.</q></p>

<p><q>Section 4. Whenever the Vice President and a majority of the principal officers of the executive departments,</q> he said, interjecting, <q>that’s the Cabinet, Wilhelm,</q> before continuing, <q>whenever the Veep and majority of the Cabinet transmit blah blah blah their written declaration that the President is unable to discharge the powers and duties of his office, the Vice President shall immediately assume the powers and duties of the office as Acting President.</q></p>

<p>Pence stood thunderstruck.</p>

<p><q>‘Immediately assume,’ Wilhelm!’</q> he cried. <q>I like the sound of that!</q></p>

<p><q>You probably should continue, sir,</q> Wilhelm advised. <q>It gets a little complicated.</q> Pence sped on, paraphrasing more.</p>

<p><q>The deposed President can declare that quote ’no inability exists,’ and he can ’resume the powers and duties of his office,’ but even if that happens, the Vice President stays in power for four days — ‘thereupon Congress shall decide the issue...’</q></p>

<p><q>Congress?!</q> Pence screamed. <q>Congress couldn’t make pancakes from Bisquick without holding six hearings and still botching them.</q></p>

<p>Wilhelm just raised an eyebrow.</p>

<p><q>Of course, Wilhelm. Sorry. I’ll continue,</q> Pence said.</p>

<p><q>Congress will decide it; to remain President, the vice president needs a two-thirds vote,</q> Pence said. <q>Two-thirds, huh?</q></p>

<p>Pence then tapped a button on his office phone. <q>Tell my wife I’m in meetings all afternoon and cannot be disturbed.</q> He then turned to Wilhelm. <q>Do these doors lock? We need to get busy.</q></p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/02/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 2</div> 
    <div class="up-next-details"><a href="{{response.app.url_root}}chapter/02/">Pence gets down to business &amp; HoosierHunk48 joins Twitter</a></div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>