<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 2: All the President's tweets",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/02/",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>All the President’s tweets</h1>
{% include 'includes/social.html' %}

<p class="date">Tuesday, June 13, 2017</p>
<p class="dropcap">The vice president woke up at 1 Observatory Circle just after dawn fully intending to set into motion his plot to remove President Donald J. Trump from office using the 25th Amendment — but he was delayed by a crisis of a more domestic variety.</p>

<p>Still groggy from Wilhelm’s wake-up knock, Pence immediately remembered tension with his wife from the night before. He and Karen — his wife of 32 loyal years — had been over at the White House for a reception and dinner for the Coast Guard class of 2017, whose graduation the President had not-so-graciously attended the day before.</p>

<p>Pence remembered that Karen spent most of the night complaining that her husband was not sufficiently affectionate during the ballroom dancing portion of the fete.</p>

<blockquote><q>The President and First Lady could barely stay in the same room. It’s obvious to anyone except a Russian oligarch that they’re having problems.</q></blockquote>

<p><q>You practically wouldn’t even hold my hand!</q> Karen said.</p>

<p><q>Honey — I couldn’t upstage the President!</q> Pence said. <q>He and the First Lady could barely stay in the same room. It’s obvious to anyone except a Russian oligarch that they’re having problems. How would it look if the vice president and the Second Lady were having a great time on the dance floor making snoggie snoggie?</q></p>

<p><q>Making snoggie snoggie</q> was Pence’s old nickname for kissing his wife romantically. But Pence was a horrendous kisser. He was <q>a Christian, a conservative and a Republican — in that order,</q> but also a 13-year-old wallflower, with braces, at his first middle school dance.</p>

<p>Karen was waking up, but fortunately, she had no taste to continue the discussion of the previous night. When you’re married to someone for so long, you don’t really even need to discuss anything anymore. There are shelves in the living room groaning with resentments — the time he skipped Michael Jr.’s birthday to cut a ribbon at a new 4H Club in Clay City, the time she declined to accompany him on that economic development tour of Muncie — so whenever you need to cram another book or two on there, you tend to do it silently.</p>

<p><q>You were mumbling in your sleep last night, Father,</q> she said, using the term of endearment she and her husband started using when their son was born.</p>

<p><q>What did I say, Mother?</q></p>

<p><q>You kept saying, ’...for the good of the country,’ and stuff like that.</q></p>

<p><q>Well, that is why we’re here, Mother, right?</q></p>

<p>Pence put on a robe and moved into his private office off the bedroom. Wilhelm entered.</p>

<p><q>Wilhelm! I need a special assistant to simply monitor the president’s tweets. I get bits of them in the press clippings, but I need to see every word he types from this point on.</q></p>

<p>Wilhelm explained that all he needed to do was set up a fake twitter account but only follow one account: @realdonaldtrump. Then, Wilhelm explained, all the veep would have to do is press the little white bird on his phone and scroll through the Trump-only feed.</p>
 
<div class="full-width">
    <img src="{{response.app.url_root}}static/img/02-pence-tweets.png" alt="A cartoon drawing of Vice President Pence tweeting on his smartphone">
</div>

<p><q>I suggest we give the fake account a name no one will find,</q> Wilhelm said.</p>

<blockquote><q>Why not @hoosierhunk48? No one will figure it out.</q></blockquote>

<p><q>What? Like a porny fake name? Which is something I understand that people — er, other people, um, pervy people! — do...like Carlos Danger!</q></p>

    {% include 'includes/ad02.html' %}

<p><q>Even simpler than that,</q> Wilhelm said. <q>Why not @hoosierhunk48? No one will figure it out.</q></p>

<p>Wilhelm took Pence’s phone, created the account and showed Pence how easy it was to monitor the president’s tweeting.</p>

<p><q>It’s not going to give me all that random social media crap, like Chuck Schumer tweeting about airline baggage fees, is it?</q> Pence asked. <q>Jesus, for the past five years, no one on the Hill bothers to write legislation anymore. They just tweet random thoughts.</q></p>

<p>Wilhelm assured Pence that the feed would only consist of President Trump’s posts. So Pence scrolled.</p>

<p><q>See? I had missed these from the last few days,</q> Pence said, looking at his phone. <q>Donnie really thinks he's the victim of the ‘single biggest witch hunt’ in American history?</q></p>

<p><q>I guess he’s forgetting about the original witch hunt, sir?</q> Wilhelm said.</p>

<p><q>And look at this one,</q> Pence said, scrolling up. <q>Why is he going after the mayor of London after a terror attack? That's like the Queen tweeting at Mayor de Blasio about traffic in Midtown!</q></p>

<p>Pence paused to consider the magnitude of Trump’s hubris.</p>

<p><q>OK, let’s get down to business. We’re going to need eight cabinet members. So it comes down to this, Wilhelm: What does every politician want?</q></p>

<p class="dropcap">Fred Wilhelm, Pence’s strapping aide, was young and had about as much experience with politics as President James Buchanan had with heterosexuality. <q>Why, to make a difference in the world, I suppose,</q> Wilhelm said, naively.</p>

<p>Pence had to laugh.</p>

<p><q>Make a difference? Wilhelm, here is a short list of what every politician wants, in no specific order: respect, admiration, a place in history, other politicians groveling at their feet to make a deal, power. Making a difference is nice, but a politician only wants to make a difference if he’ll get credit for it.</q> </p>

<p><q>Was there a reason you even asked the question, then, sir?</q></p>

    {% include 'includes/ad03.html' %}

<p><q>For this reason, Wilhelm: If this is going to work, we have to figure out what each of these billionaire bastards in Trump’s cabinet wants.</q></p>

<p>Pence instructed Wilhelm to get a large piece of foam core and an easel and attach pictures of every cabinet member on it, like the FBI does with crime family trees for press conferences.</p>

<p>Pence would be on top, circled in red. If he got eight more circles, President Trump would be ex-President Trump. Ben Carson (Housing), Betsy DeVos (Education), Sonny Perdue (Agriculture), Rex Tillerson (State) and Ryan Zinke (Interior) — were in the top row. Below them was James Mattis (Defense), Jeff Sessions (Attorney General), Steven Mnuchin (Treasury), Wilbur Ross (Commerce) and Alexander Acosta (Labor). And the bottom row comprised Tom Price (Health and Human Services), Elaine Chao (Transportation), Rick Perry (Energy), David Shulkin (Veterans Affairs) and John Kelly (Homeland Security).</p>

<blockquote><q>If this is going to work, we have to figure out what each of these billionaire bastards in Trump’s cabinet wants.</q></blockquote>

<p>Pence stared at the chart: Fifteen people who all wanted something. Eight needed convincing. </p>

<p><q>Sessions is a no-go,</q> Pence said, putting a red X through the attorney general’s picture. <q>That man’s nose is so far up Donald Trump’s ass that he can sniff what the president had for breakfast yesterday.</q></p>

<p><q>We all know that, sir,</q> Wilhelm said. <q>It’s well known that the president has a bucket of KFC delivered to the White House residence at 7:30 a.m.</q></p>

<p>Pence ignored the observation.</p>

<p><q>And Kelly is out,</q> he said, crossing off the Homeland Security chief. <q>He sees Trump as the Messiah when it comes to Muslims and Mexicans. Wilbur Ross won’t move against Trump so long as all that Russian oligarch money is flowing through the Bank of Cyprus right into the right bank accounts. And I’ll bet I could get Zinke if I promised him that he and his coal friends could drill every square foot of public lands, but then Trump would swing him back to his side by simply letting him ride his horse to work every day. But I see at least six easy marks on that list.</p>

<p><q>Let’s start with Carson.</q></p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/03/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 3</div> 
    <div class="up-next-details"><a href="{{response.app.url_root}}chapter/03/">Ben Carson takes the VP higher &amp; higher</a></div>
        {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>
