<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 3: The Cabinet stoner with the shotgun",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/03",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "Ben Carson", "politics", "satire"]
        }
</script>

<h1>The Cabinet stoner with the shotgun</h1>
{% include 'includes/social.html' %}

<p class="date">Tuesday, June 13, 2017</p>
<p class="dropcap">Mr. Vice President! What brings you to L’Enfant Plaza?” Secretary Ben Carson asked, extending his hand as Pence exited his limo outside the Department of Housing and Urban Development.</p>

<p><q>I want to talk to you about the President,</q> said Pence, looking quickly around in search of hidden watchers or, worse, listeners. <q>Can we discuss this in your office?</q></p>

<p><q>Office?</q> Carson wondered.</p>

<p>HUD headquarters was a sprawling four-pronged office tower with corridors that all looked the same. Without help from his aides, Ben Carson still could not find his office.</p>

<p><q>It’s a beautiful day,</q> Carson said. <q>I have a better idea.</q></p>

<p>Inside the building, the Secretary gave the security guard a glance that said, <q>Yes, it’s the vice president, and no, you don’t have to check his ID.</q> The bulletproof gates opened with a <em>whoosh</em> like the doors on the Starship Enterprise. Carson led Pence to an elevator and they rode to  “10,” the top floor of the Robert C. Weaver Building, another Brutalist icon of official Washington.</p>

<p>“Higher and higher,” Carson chuckled as he led Pence off the elevator to a fire-suppression door.</p>

<p><q>Stairway B?</q> Pence asked, mystified.</p>

<p>“Higher and higher,” Carson chuckled some more.</p>

<blockquote>From the other side of a heating duct, an aide emerged holding what Pence easily identified as a Winchester 1300, a <q>speed pump</q> shotgun much praised by duck hunters.</blockquote>

<p>One flight up, he pushed through another door, this one marked, “Roof,” and led Pence out into the sunlight.</p>

<p><q>This is where I do all my best thinking,</q> the soft-spoken Carson said before, suddenly, his entire comportment changed.</p>

<p><q>Gun!</q> he yelled to no one visible.</p>

<p>From the other side of a heating duct, an aide emerged dressed in camouflage and holding what Pence easily identified as a Winchester 1300, a <q>speed pump</q> shotgun much praised by duck hunters. Pence knew the gun well from shooting up near Pigeon River in Mongo.</p>

<p>As the shotgun-toting aide moved towards him, Pence remembered the exact words the gun salesman had told him 15 years earlier when he was deciding on the Winchester 1300 for his oldest son, Michael Jr.: <q>This is the perfect gun for whatever you’re hunting.</q></p>

<p><q>...Whatever you’re hunting?</q> Pence thought. <q>Wait a second — am I about to buy it on the roof of the HUD building? I’m gunning for Trump and Ben Carson is gunning for me?</q></p>

<p>But the fear was misguided.</p>

<p><q>And another one for the vice president!</q> Carson barked to the aide, who  headed back behind the air duct and returned with a second Winchester.</p>

<p><q>Bet that’s a relief to you,</q> Carson said.</p>

<p>Pence hid his momentary existential fear.</p>

<p><q>How so, Mr. Secretary?</q></p>

    {% include 'includes/ad02.html' %}

<p><q>I just know how much you love shooting,</q> he said.</p>

<p>The aide delivered the weaponry and protective glasses.</p>

<p><q>Look, Mr. Vice President,</q> Carson started. <q>I know why you’re here and I completely get it.</q></p>

<p><q>Um, Mr. Secretary—</q> Pence began, but was cut off when Carson yelled, <q>PULL!</q></p>

<p>A clay pigeon soared into the sky above L’Enfant Plaza. Carson fired, pulverizing the flying target.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/03-carson-skeet.png" alt="A cartoon drawing of Secretary Carson with a gun while Vice President looks on">
</div>

<p class="dropcap">What the hell is going on here, Pence wondered. Mild-mannered brain surgeon Ben Carson has built a secret shooting range on the roof of HUD? And he’s a marksman? Am I about to get Dick Cheneyed?</p>

<p><q>PULL!</q> Carson yelled again. And again he vaporized the flying target.</p>

<p><q>What exactly do you ’get,’ Mr. Secretary?</q></p>

<p><q>I told that crazy, crazy sonofabitch Trump not to put me in charge of anything because I’ve never run anything bigger than an operating theater — PULL!</q></p>

<p>Another pigeon, another boom, another cloud of dust.</p>

<p><q>But then the lunatic puts me in charge of a bureaucracy with about 8,000 employees, a $50-billion budget, something like 70 field offices and literally serving millions of Americans. And I know I’m doing a pretty bad job. I mean, I got stuck in an elevator in a housing project that we oversee! Every time I start thinking about it, I just, I just, um, I get all...PULL!</q></p>

<p>Carson barely aimed. The pigeon exploded.</p>

<blockquote><q>You’re trying to anticipate too much, Mr. Vice President. Track your prey across the terrain, not through it.</q></blockquote>

<p><q>So I’m sure the President sent you over here to tell me I’m being replaced,</q> Carson said, moving behind the veep and gesturing that he should get into shooting position. </p>

<p><q>Pull,</q> Pence said. The pigeon flew into the air. Pence fired. And missed. Pence tried a second time with the same result. And a third.</p>

<p><q>You’re trying to anticipate too much, Mr. Vice President,</q> Carson said. <q>Track your prey across the terrain, not through it.</q></p>

<p><q>Like this?</q> Pence said.</p>

    {% include 'includes/ad03.html' %}

<p>He moved the barrel of his gun into Carson’s face and then redirected it  toward the sky. Yelling, “Pull,” he tracked the pigeon along the horizon, squeezed the trigger and blew the target into hundreds of tiny pieces.</p>

<p>Then Pence spoke in a conspiratorial whisper.</p>

<p><q>Mr. Secretary,</q> he said, <q>I didn’t come here to fire you. I came here to recruit you. Have you ever heard of the 25th Amendment?</q></p>

<p><q>I’m pretty good with the Second, 13th and the 21st, but after that, I really don’t know much about any other amendments,</q> Carson said.</p>

<p>Pence explained the rule, ratified on February 10, 1967, emphasizing that the vice president should step in if the President is <q>unable to discharge the powers and duties of his office.</q></p>

<blockquote><q>We knew this guy was a novice. Why can’t everyone give him a free pass until he figures out how to do the job?</q></blockquote>

<p><q>And clearly, the President can’t discharge his duties right now,</q> Pence said.</p>

<p><q>You got that right!</q> Carson said. <q>It’s all because of the Democrats and the media. We knew this guy was a novice. Why can’t everyone give him a free pass until he figures out how to do the job — you know, like they’re doing with me?</q></p>

<p><q>A free pass, Ben?</q> Pence said. <q>The guy just gave the Russians a secret intelligence report that the Israelis gave us. This thing is going to be investigated from now until his last day in office.</q></p>

<p><q>OK, so you want to replace him. I get it. But — PULL! — you’re forgetting something, Mr. Vice President.</q></p>

<p><q>What’s that, Ben?</q></p>

<p><q>You need eight of us,</q> he said. <q>And we’re all going to want something.</q></p>

<p><q>Name it and you got it, Mr. Secretary.</q></p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/03-carson-baked.png" alt="A cartoon drawing of Secretary Carson smoking a bong">
</div>

<p><q>Well, a lot of people don’t know this about me, but I’m very much aligned with the, oh, how shall I put this, libertarian wing of our great party, if you catch where my smoke is blowing,</q> Carson began, mysteriously. <q>Now, Mr. Sessions, of course, would use federal power to prosecute some friends of mine who aren’t doing anyone any harm — just recreating, if you know what I mean.</q></p>

<p><q>Recreating?</q> Pence thought. <q>Ben Carson is a stoner?!</q></p>

    {% include 'includes/ad04.html' %}

<p>The notion that Ben Carson spends whole parts of the day baked out of his gourd would, in fact, explain a lot. Like that time he said the Egyptian pyramids weren’t tombs, but big grain silos. Or why he always calls the terror group Hamas <q>hummus,</q> as if he has the munchies. Or especially that time on the campaign trail in Detroit when he wandered away from a CNN interviewer muttering, <q>Oh, my luggage!</q></p>

<p>And a black man who grew up poor in Detroit would have to be tripping on some of that 29% THC Kamasutra from Cali to really believe that slaves were immigrants who came to the United States seeking a better life — as Carson had said in a speech to HUD workers.</p>

<p><q>I get it, Mr. Secretary,</q> Pence said. <q>When I’m running the show, I’ll order the attorney general to ease up.</q></p>


<p><q>Then you got a deal, Mr. Vice President — PULL!</q></p>

<p>Carson blew away the clay pigeon. That man was almost as good with a shotgun as he was with a bong.</p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/04/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 4</div> 
    <div class="up-next-details"><a href="{{response.app.url_root}}chapter/04/">Pence, DeVos and Bannon walk into the Oval Office</a></div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>
