<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 4: The Cabinet member with a conscience",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/04",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>The Cabinet member with a conscience</h1>
{% include 'includes/social.html' %}

<p class="date">Wednesday, June 14, 2017</p>
<p class="dropcap">Mike Pence was doing so much acting that he could teach a master class in the Stanislavsky technique.</p>

<p>He smiled studiously at President Trump’s elbow at the Resolute Desk in the Oval Office as he plotted the nation’s first coup, just as he had smiled when Trump signed executive orders that would needlessly pollute the air and water, that would bar Muslims from entering the country (except Muslims from countries with which the Trump Organization did business), and even one that would put Chris Christie — <em>Chris Christie,</em> who never met a doughnut on which he would not binge! — in charge of ending America’s addiction to opioids.</p>

<p><q>I’d like to see De Niro pull off this level of acting,</q> Pence joked to himself.</p>

<p>There were days when Pence's work as vice president and his work as future President merged. Like Wednesday, June 14, when Education Secretary Betsy DeVos met with President Trump in the Oval Office.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/04-devos.png" alt="A cartoon drawing of President Trump and Education Secretary Betsy DeVos">
</div>

<p>Though Trump probably picked DeVos because he was attracted to her, Pence liked DeVos because her philosophy on schooling hewed very closely to Pence’s own: defund public education, use public money to support private and religious schools, break the teachers union, and inject religion into public life whenever possible.</p>

<p><q>OK, send her in,</q> Trump said. <q>And get Bannon in here, too.</q></p>

<p>DeVos entered, visibly upset. White House Counselor Steve Bannon — who looked like Robert Redford, if the actor had been fed a 30-day diet consisting solely of doughnuts, then drugged and then dragged across the bottom of a river — also entered, visibly annoyed at DeVos’s apparent exasperation.</p>

<p><q>Madame Secretary,</q> Trump said grandiosely, <q>what brings you to the Oval Office?</q></p>

<p><q>First of all, do you see how the blacks are always deriding me because I support vouchers?</q> DeVos started. <q>All day long, they’re under my office window with signs and chanting: ’A-B-C-D, With Devos we disagree/One-two-three-four, she’s a private voucher whore!’</q></p>

<p><q>Very unfair,</q> Trump said, grabbing his Android phone. <q>I’m going to tweet that right now: ’We need to treat @betsydevos with respect. Protesters harassed her. Sad. Hurt cause. She wants best for kids. Destroy public schools now!’ There, is that better?</q></p>

<p><q>Yes, sir,</q> DeVos said. <q>I don’t know why the poor won’t just let me do good for them. All I want to do is close public schools in their neighborhoods, and all they think I want to do is destroy public education.</q></p>

<blockquote>Pence had supported limited voucher programs and charter schools as governor of Indiana — but he found teachers’ union leaders to be hard-working people who generally cared about education and just wished to be paid more than $40,000 a year.</blockquote>

<p><q>I know, Betsy,</q> Trump said. <q>It can be very tough to get the blacks to see the essential truth that we rich white people — and I don’t know if you’ve met Wilbur Ross, our commerce secretary, who made billions taking over companies and firing workers; God, I love him — only want to do right by the blacks. Just like I told my African-American at that rally during my incredibly successful campaign!</q></p>

<p><q>And why are they so supportive of the teachers unions, who only shortchange students?</q> DeVos asked.</p>

<p><q>And employ their parents, uncles, aunts and neighbors — and shackle them with outdated rules like 30-hour work weeks, set-aside time for classroom prep, health insurance coverage, sick days, and all that other liberal garbage,</q> Bannon added.</p>

<p>Pence didn’t agree with Bannon. Sure, he had supported limited voucher programs and charter schools as governor of Indiana — but he had also sat in hours of negotiations with teachers’ union leaders and found them to be hard-working people who generally cared about education and just wished to be paid more than $40,000 a year.</p>

<blockquote><q>GQ magazine even called me ’the Cruella De Vil of the education system.’</q></blockquote>

<p><q>It’s all so unfair,</q> Trump said. <q>But I need you to stay strong, Betsy. We are draining the swamp and when you do that, some frogs are going to die. They’re going to die, Betsy. Now, is there anything else?</q></p>

    {% include 'includes/ad02.html' %}

<p class="dropcap">DeVos shifted her feet. <q>Sir, I need to talk to you about the student loan cuts,</q> she started.</p>

<p>DeVos, of course, was referring to Trump’s latest plan to cut the Education Department budget by close to $11 billion. A nice chunk of that would come from ending the Bush Administration’s Public Service Loan Forgiveness Program, which eliminates college debt for anyone who works in the government or a non-profit for 10 years. Trump wanted to go further, too, by making graduate students pay a higher percentage of their post-college income for a longer amount of time to pay off their debts.</p>

<p><q>I’m taking a lot of flak for it,” DeVos complained. “GQ magazine even called me ’the Cruella De Vil of the education system.’</q></p>

<p><q>Take that as a complement, Betsy!</q> Trump said. <q>It means they’re threatened by your power.</q></p>

<p>DeVos had seen Trump praise his aides and cabinet members one minute and then throw them under the bus the next. She didn’t want to be the public face of a policy that Trump would himself abandon at the first sign of trouble. Her spine stiffened.</p>

<p>“She’s going to stand up to the loon again,” Pence marveled, remembering how DeVos had confronted the President early in the Administration over the transgender bathroom issue.</p>

<p>Trump had infuriated DeVos by reversing President Obama’s order that allowed transgender students to use whatever bathroom corresponded to their gender identity. DeVos stormed into the Oval Office that day to make her position clear.</p>

<p><q>I’m glad you support me fully, Betsy,</q> Trump had said in full intimidation mode. <q>That means a lot to me.</q></p>

<p><q>Actually, sir, I don’t support you at all on this one. Mr. Sessions —</q></p>

<p>Trump spun and punched a button his phone. <q>I love these Oval Office phones,” he chortled gleefully. “I always thought I had the best phones, the classiest phones, in Trump Tower, but it turns out, the White House phones are better.</q></p>

<p>A voice came on the line.</p>

<p><q>This is Jefferson Beauregard Sessions, the 84th attorney general of the United States of —</q></p>

<p><q>Oh, I got voicemail,</q> Trump said to DeVos.</p>

<p><q>No, you did not, sir — this is Jeff Sessions,</q> the attorney general said. <q>That’s just how I answer the phone.</q></p>

<p><q>Well, speed it up, Jeff. We didn’t come here to do small things,</q> Trump said. <q>Now, Jeff, there’s a woman in my office and she’s saying all sorts of things I don’t understand. Can you listen in and tell me what to say to her?</q></p>

<p>Trump put the call on speaker.</p>

<p><q>OK, can you continue, Ms., um, Ms., you know...</q></p>

<blockquote><q>This whole transgender thing is weird to me. You’re either a broad or a dude. Vagina. Penis. Or maybe East German Olympic shot-putter. But that’s it.</q></blockquote>

<p><q>Mr. Sessions, it’s Betsy DeVos here. I was just telling President Trump that our administration position on President Obama’s transgender guidelines is 180 degrees wrong.</q></p>

    {% include 'includes/ad03.html' %}

<p><q>Wait a second, Betsy,</q> Trump said. <q>Don’t you mean 360 degrees? Like, completely wrong? I always get that confused.</q></p>

<p><q>As I was saying, Mr. Attorney General, education policy should always protect students. And nondiscrimination laws require schools to allow transgender students to use the bathrooms of their choice.</q></p>

<p><q>Mrs. DeVos,</q> Sessions said. <q>I certainly know the law. There are two pending cases at the federal level that are likely to uphold that very law you are citing, which is why I have urged President Trump to withdraw from the cases, lest he be simultaneously defending and rewriting President Obama’s transgender policy.</q></p>

<p><q>Yeah, right, yeah, exactly,</q> Trump pronounced. <q>And this whole transgender thing is weird to me. You’re either a broad or a dude. Vagina. Penis. Or maybe East German Olympic shot-putter. But that’s it.</q></p>

<p><q>Mr. President, I will not allow you to order schools to discriminate against troubled students,</q> DeVos said.</p>

<p><q>We’ll have to accept your resignation, then,</q> Bannon jumped in. <q>I know you share our desire to dismantle the administrative state. And I know how much the education system needs your leadership, so we’ll be very sad to lose you, but ...</q></p>

<p>Bannon stared expectantly at his boss.</p>

<p><q>Sorry, Steve, I’m not going to say it,</q> Trump tormented. <q>Not yet.</q></p>

<p><q>Oh, come on, sir, say it. Say it. Say, ’You’re fired!’ She’s asking for it!</q> Bannon pleaded.</p>

<p><q>No, no. That will not be necessary,” Trump declared with the tone of the omniscient deity he saw in the mirror. “I know Ms., um, Ms., um, this woman will do the right thing and sign onto the joint letter with the Justice Department — and also issue this press release testifying to her support for the policy — and this will all be behind us.</q></p>

<p>Bannon handed DeVos the press release, already on Department of Education letterhead.</p>

<blockquote>"I know Ms., um, Ms., um, this woman will do the right thing and sign onto the joint letter with the Justice Department and this will all be behind us."</blockquote>

<p><q>This is an issue best solved at the state and local level,</q> it read. <q>We have a responsibility to protect every student in America. This is not merely a federal mandate, but an obligation no individual, school, district or state can abdicate.</q></p>

<p>DeVos had stifled her humiliation. <q>I’ll sign, but can we make one change? I want the word ’moral’ in front of ’obligation.’</q></p>

<p><q>Moral, huh?</q> Trump had said. <q>Boy, Ms., um, boy, you are a piece of work. But, OK, you want ’moral,’ you got ’moral.’</q></p>

<p>And now DeVos was back, this time badgering the President over student loans — the kind of government help that people like Donald Trump or Betsy DeVos never needed.</p>

<p>That caught Pence’s attention. She’s willing to take this guy on, he thought. She’s ready to stand up for what she believes in. She just needs someone who can help her. </p>

<p><q>Look, Betsy, do you have another way to cut $8 billion out of the Education Department?</q> Trump asked. <q>Cutting P-SILF will do that. So do it. Now get out of here and back to your office to start dismantling this government and making sure I get 95% of the black vote in 2020.</q></p>

<p>A disappointed DeVos bid goodbye to the President and stared past  Bannon’s gloating gaze on her way to the door.</p>

<p><q>Let me walk you out, Madame Secretary,</q> Pence called before leaning to Trump’s ear, “I’ll make sure her head’s on straight.”</p>

<p>“Good boy,” Trump smiled.</p>

<p>Pence caught up to DeVos just as the door of the Oval Office closed behind them.</p>

<p><q>Madame Secretary, I think we can make an arrangement that you’ll be very happy with,</q> he whispered before rushing back into the Oval Office.</p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/05/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 5</div> 
    <div class="up-next-details"><a href="{{response.app.url_root}}chapter/05/">Melania’s not interested in the President’s nonsense</a></div>
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
    {% include 'includes/satire.html' %}
</div>
</a>