<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 5: The slap heard ’round the world",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/05/",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>The slap heard &rsquo;round the world</h1>
{% include 'includes/social.html' %}

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/05-melania.png" alt="A cartoon drawing of a shirtless President Trump and the First Lady">
</div>

<p class="date">FLASHBACK: Monday, May 22, 2017<br>Tel Aviv</p>

<p class="dropcap">Something must have happened on that plane.</p>
<p>The President and First Lady were making their first overseas trip as America's ultimate power couple — but even for a husband and wife whose public displays of affection max out at a forced smile, something was definitely amiss when the caravan touched down in Israel.</p>

<p>It was unmistakable: Israeli Prime Minister Bibi Netanyahu and his wife, Sara, strode to the podium hand-in-hand, with President Trump alongside, two paces ahead of his own wife. Trump, apparently realizing that his rush to the cameras ahead of the First Lady suggested that he had put the shiv in chivalry, reached back to grab Melania's hand.</p>

<p>Which she promptly slapped away.</p>

<p>Which everyone in the world saw.</p>

<p>Which everyone then posted on the Internet.</p>

<blockquote>Asking &ldquo;Is Melania Trump happy in her marriage&rdquo; is kind of like asking that old question about the inevitable location of orsine feces in a forest. Everyone knows exactly what a bear does in the woods.</blockquote>

<p>The frenzy of headlines — the juiciest post-slap screamer was <q>SHOVE, ACTUALLY: Melania’s Swat Proves She Hates Donald Just as Much as America Does</q> — didn't penetrate the White House media bubble, which is as tightly sealed as the President's tax records. But Melania knew what people were saying — because she had been saying it to herself for months.</p>

<p>Or maybe nothing different happened on that plane at all. After all, Melania had put up with so much from her husband over the years, asking <q>Is Melania Trump happy in her marriage</q> is kind of like asking that old question about the inevitable location of orsine feces in a forest. Everyone knows exactly what a bear does in the woods.</p>

    {% include 'includes/ad02.html' %}

<p>She probably knew what she was getting into — the then-28-year-old Melania Knauss attracting the attention of the then 52-year-old Donald Trump, once divorced and headed for a second journey to Splitsville, at a 1998 party at the Kit Kat Klub. Melania knew Trump was a serial womanizer with a monstrous ego, his daddy issues, and an increasingly bizarre hair style, so she declined to give Trump her number when he asked. But he kept asking.</p>

<p>Even after his divorce from Marla Maples, there were still millions of reasons to deflect the advances of Donald J. Trump. But there were also, in the end, billions of reasons not to deflect those advances. The couple was married in 2005.</p>

<p>He was a glib, globe-trotting businessman. She was an earnest homebody. He slept four hours a night and was addicted to early morning and late night news programs in hopes of hearing his name. She slept in after long nights on the runways.</p>

<p>He cheated in the past. She was loyal.</p>

<p>The marriage produced one son about 13 months after the nuptials. It is unclear if this marriage could have produced another.</p>

<p class="dropcap">The sight of Donald Trump was enough to cause even the most loving wife to shake like a Bowery bum with delirium tremens after the bottle of Night Train has run dry. From bottom to top:</p>

<p>His feet are flat, the result of carrying around 50 extra pounds and not, as he once told his draft board, because of bone spurs.</p>

<p>His legs are covered in varicose veins that resemble the Amazon River watershed viewed from space.</p>

<p>His thighs are unspeakable — tubes of elephantine flesh that connect to his flabby trunk to form a <q>Y</q> that would be better spelled <q>Why?</q></p>

<p>His belly is distended and has so much extra flesh that his navel is neither an <q>innie</q> nor an <q>outie,</q> but a <q>closedie.</q></p>

<p>His man boobs are so large that he could earn quite a sum modeling for a fetish magazine like <q>Bosom Buddies,</q> <q>Manbags,</q> <q>Bro Bongos</q> or <q>Manmarries.</q></p>

<p>His neck has a poultry quality, with red spider veins and extra flesh resembling the part of a turkey you never eat.</p>

<p>His chin both collapses and expands when he smiles, giving the impression that a tiny mini-Donald is trying to emerge from the space under his lips. Oh, and those lips are as attractive as a 50-gallon plastic jug of nightcrawlers.</p>

<p>His nose is actually OK.</p>

<p>His eyes are heavy-lidded and baggy — for some reason, the orange tanning solution with which Trump covers his entire face refuses to stick to the flesh around his eyes. As a result, Trump resembles a ginger raccoon — and, given how much he moves around during daylight hours, most likely a rabid one.</p>

<p>And then the hair.</p>

<p>When he gets out of bed, Donald Trump's wispy strands of hair hang down way over his ears and down his back, where they can be summoned by a brush and swirled into an orange confection missing only a cherry on top. Many have surmised that Trump's hair is a toupee or a weave or the result of follicular transplants. It’s none of those things. It is a cotton candy machine.</p>

<blockquote>Nothing says, <q>My husband is a man of the people</q> like a penthouse view and a gilded Louis XIV chair.</blockquote>

<p class="dropcap">Beyond even Donald Trump's physical repulsiveness was the sheer fact that he couldn't stop pissing off his wife, both before and after the election.</p>

<p>When the infamous <q>Access Hollywood</q> <q>pussy tape</q> came out just before the election, Melania was trotted out to <q>humanize</q> and defend her husband — albeit sitting in a gilded Louis XIV chair in her Trump Tower penthouse, because nothing says, <q>My husband is a man of the people</q> like a penthouse view and a gilded Louis XIV chair.</p>

<p>A few weeks later, Donald mocked the video, saying at a debate that he didn't even apologize to his wife because he hadn't done anything wrong — and he must be right because, he said pointing at her, <q>she's sitting right there in the audience, supporting me.</q></p>

    {% include 'includes/ad03.html' %}

<p>The interview and grotesquely self-serving debate shout-out helped Donald Trump win the White House. But at long last, on what should have been her glorious moment in the sun on Inauguration Day, Melania Trump — gorgeous in that Tiffany blue Ralph Lauren sheath dress and the matching Bolero jacket, tight across her bosom — was snubbed again by that very same husband. Everyone saw the first images from that day, even before Trump took the oath of office: The incoming President was so eager to get into the <q>goodbye</q> photo with the outgoing Barack and Michelle Obama, that he raced ahead of his wife, who was left alone, clutching a Tiffany box, on the other side of the limo.</p>

<p>Melania was bringing back a glamour not seen in the East Wing since Jackie Kennedy's pill-boxes and Oleg Cassini dresses, but Donald already had his prize so he couldn't care less.</p>

<blockquote>Melania stopped trying to hide her disappointment: The body language. The distance. The inability to even smile at her husband. The knowledge that, at 46 and still stunning, there was a lot more of life that she was leaving on the table.</blockquote>

<p>That snub led to an opening salvo: the <q>GIF seen 'round the world.</q> It was unmistakable. At one point after he was finally sworn in as the 45th President, Trump smiled and turned to the women behind him: his wife, Melania, and his beloved daughter, Ivanka. He said something affectionate — Melania apparently thought he was speaking to her, and she smiled. But when she realized that her husband was addressing the other First Lady, Ivanka, Melania's smile not only flattened, but curved downward into a poisonous Iron Curtain snarl.</p>

<p>Watching on big-screen TVs all over the nation, every American woman between the ages of 40 and 90 concluded that Melania Trump was just so done with her husband. And she was — so she stopped trying to hide her disappointment: The body language. The distance. The inability to even smile at her husband. The knowledge that, at 46 and still stunning, there was a lot more of life that Melania Trump was leaving on the table.</p>

<p>So on the afternoon of May 22, 2017, after leaving her husband's side so he could conduct world affairs with the Israeli Prime Minister, Melania Trump withdrew to her hotel room for a private photo session with her traveling maid, Julia Monteñez, whose name Melania pronounced in the Eastern European style, <q>Yulya.</q></p>

<p><q>Yulya, dear, can you use phone to make pictures of me?</q> Melania said. <q>I need new photos for special First Lady project.</q></p>

<p>First, Melania doffed the all-white Michael Kors jacket that had attracted all the attention until she slapped her husband's hand away.</p>

<p>Snap.</p>

<p>Then Melania put on a gauzy black shirt with a pussy bow that barely concealed her Carine Gilson bra. Snap.</p>

<p>Then she moved to the window, poured herself a glass of Chardonnay — a 2006 Barkan, no less — from the ice bucket that the prime minister's wife made sure would be waiting for her back at the hotel, thrust the glass to the camera and toasted. Snap.</p>

<p><q>Smile,</q> Julia said.</p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/06/">
    <div class="up-next-box">
        <div class="coming-soon">keep reading &#9654;</div>
        <div class="up-next-chapter">chapter 6</div> 
        <div class="up-next-details"><a href="{{response.app.url_root}}chapter/06/">Trump doubles down on arming the Muslim world</a></div>
        {% include 'includes/satire.html' %}
        <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
    </div>
</a>