<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 6: Harms and the man",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/06/",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-13T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>Harms and the man</h1>
{% include 'includes/social.html' %}

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/06-trump-missile.png" alt="A cartoon drawing of Trump with a missle for sale">
</div>

<p class="date">Thursday, June 15, 2017</p>

<p class="dropcap">Rex,&rdquo; President Trump told his Secretary of State in their first meeting since the President’s overseas trip to the Middle East and Europe. <q>You did a great job on this one. We moved $100 billion in military crap to the Saudis. Amazing!"</q></p>

<p><q>Well, the Saudis do seem to like our arms,</q> Rex Tillerson reminded the President. <q>But it took Obama eight years to sell them as much stuff as we sold them today.</q></p>

<p>The Saudi deal was just the biggest move so far. In just four months, Tillerson’s Department of State had concluded major arms deals with the United Arab Emirates and Bahrain, too.</p>

<p>The only way the Administration could sell billions of dollars in fighters and radar systems to oppressive allies in the Middle East was to waive existing rules barring sales of military equipment to countries known to violate vague <q>human rights</q> standards. King Hamad in Bahrain, for example, had routinely jailed and killed dissidents, so the Obama Administration blocked a planned sale of $3.8 billion in jets and support equipment on the grounds that no country that oppressed its own people should have access to even greater weaponry with which to do so.</p>

    {% include 'includes/ad02.html' %}

<p>But if Donald Trump had any genius at all, it was this: Once he had established that he opposed something that President Obama did, he would make sure that every action he took would ensure that his predecessor’s policy would, indeed, fail.<p>Trump had, for example, declared Obamacare a <q>disaster,</q> even though the former President’s signature domestic achievement was actually functioning pretty well — with the exception of needing a few financial tweaks. Trump refused to make the changes and stood ready to say, “I told you so,” when Obamacare failed.</p>

<p>The same was true in the Muslim world. Trump had labeled Obama’s Iran deal <q>terrible</q> because removing sanctions against the former member of the Axis of Evil would allow Iran to flex its muscles in the region.</p>

<blockquote>Isn’t it nice to be able to deliver a $40 billion contract to Raytheon on a silver platter? The only nagging problem were those human rights violations. But who cares about a few jailed dissidents when you’re making America great again.</blockquote>

<p>Now, Trump could have merely monitored Iran to make sure it adhered to the letter of the treaty or, better still, work for peace in the entire region. Instead, he chose to arm everyone else in the region — and blame Obama for it: If it wasn’t for Obama’s <q>disaster</q> in Iran, Trump said, the Saudis, the emirs, the Bahrainis and everyone else wouldn’t now need high-tech American arms to counterbalance the supposedly emboldened mullahs in Iran.</p>

<p>Plus, isn’t it nice to be able to deliver a $40 billion contract to Raytheon on a silver platter? The only nagging problem were those human rights violations. But who cares about a few jailed dissidents when you’re making America great again.</p>

<p><q>Let’s call it ’The Trump Doctrine,’</q> the President said to Tillerson at their first meeting only a few months earlier. <q>We will sell arms to anyone we want to sell arms to, based on our needs. So King Bahrain wants to jail a few protesters or the Saudis want to back the government in Yemen and their bombs kill a few civilians in the process? Let’s leave that hand-wringing to the French.</q></p>

<p><q>People are such hypocrites anyway,</q> Tillerson said. <q>They complain that the Saudi ’dumb bombs’ hit too many civilians, but then complain even louder when we sell them smart bombs that can more accurately hit the rebel targets!</q></p>

<p class="dropcap">Trump was pleased that his secretary of state had such an understanding of the simplicity of Middle East politics, which Tillerson had gleaned from  running ExxonMobil, which did a significant amount of work in the region, albeit in mineral extraction and employee protection, not peacemaking or diplomacy.</p>

<p>But now it was time for something bigger.</p>

<p><q>Rex, I need to talk to you about my next big arms deal,</q> Trump said.</p>

<p><q>Well, sir, so many of our allies need to modernize,</q> Tillerson said. <q>Nigeria needs aid and arms to fight Boko Haram, and Afghanistan is still struggling.</q></p>

<p><q>Nope, not my issues, Rex. Those are Obama’s failed wars. I want to sell $200 billion in arms. And there’s only one country that can do it.</q></p>

<p><q>France? Germany?</q> Tillerson asked.</p>

<p><q>North Korea,</q> Trump said.</p>

<p><q>North Korea?</q> Tillerson exclaimed. <q>They’re our sworn enemy. Why would you want to sell $200 billion in arms to North Korea?</q></p>

<p><q>Because no one else will, which means I can pretty much charge them whatever the hell I want. Haven’t you read ’The Art of the Deal’? That’s chapter freakin’ one.</q></p>

<p>Tillerson was flabbergasted. <q>Sir, I’m not sure if anyone is going to —</q> he started.</p>

<p><q>Don’t give me all that Washington, D.C. bullcrap about the importance of American blah blah blah,</q> the President shouted. <q>What is the one way America has made enemies into allies throughout history: Selling them bombs so they can feel good about themselves. And I know that Kim Jong Un. He’s a smart cookie. At a very young age, he was able to assume power. A lot of people, I’m sure, tried to take that power away. You remember when I said that on BBC, Rex?</q></p>

    {% include 'includes/ad03.html' %}

<p><q>Yes, sir, but the Chinese —</q></p>

<p><q>The Chinese! I don’t give a damn about the Chinese. This was their problem, and they didn’t solve it, so I am.</q></p>

<blockquote><q>What is the one way America has made enemies into allies throughout history: Selling them bombs so they can feel good about themselves.</q></blockquote>

<p>The President proceeded to lecture Tillerson about how the deal would go down. First, the Trump Organization would secretly buy the arms directly from companies like Pratt and Whitney, Northrop Grumann, General Electric and Raytheon directly — <q>at cost!</q> Trump added — then the Trumps would mark up the equipment by 300%, so that a $25-billion system would suddenly cost North Korea $100 billion.</p>

<p><q>Not that they’ll care,</q> Trump said. <q>The only guarantee they’ll want is that I won’t program the missiles to crash into the sea, like we’ve been doing for years.</q></p>

<p><q>But, sir, the Chinese will consider this a hostile act,</q> Tillerson said.</p>

<p><q>Not with all my missiles parked on their border, they won’t,</q> Trump said. <q>And even if they do, what do we lose?</q></p>

<p><q>Access to a marketplace with one billion people?</q> Tillerson said.</p>

<p><q>Screw that! The Chinese have had a taste of the American way of life and will never go back,</q> Trump said. <q>I’m opening up a new market: North Korea! You know how they’re always saying ’Nixon in China?’ Well, get ready for a new one: ’Trump in North Korea!’</q></p>

<p>Tillerson made one last-ditch effort.</p>

<p><q>But sir, the human rights record in North Korea —</q> he started.</p>

<p><q>I never read anything about that, Mr. Secretary; you didn’t release the State Department’s annual human rights report this year,</q> Trump  countered, knowing he’d won.</p>

<p><q>Sir, you told me not to release that report this...oh, I see, sir,</q> Tillerson said, defeated.</p>

<p><q>Now, get me the rock-bottom prices on those missiles and tanks, or I’ll have Jared do it,</q> Trump said.</p>

    {% include 'includes/ad04.html' %}

<p>A few minutes later, Tillerson got a secure line to Vice President Pence's office.</p>

<p><q>He wants to do what?!</q> the vice president screamed into the phone. <q>Rex, I can barely hear you, but it sounds like you said the President wants to sell missiles to North Korea.</q></p>

<p><q>Yes, sir,</q> Tillerson said.</p>

<p><q>It also sounds like you’ve been crying,</q> Pence added.</p>

<p><q>I’m sure it’s just the phones,</q> Tillerson said, wiping away tears and blowing his nose prodigiously.</p>

<p><q>Phones, sure,</q> Pence said. <q>Rex, you just slow-walk the North Korean arms deal as long as you can.</q></p>

<p>Tillerson couldn’t tell across the secure channel, but Pence was giddy — opportunity was again knocking on the big door at the Naval Observatory. The public had put up with Trump’s hyperbole about Obama’s supposedly Kenyan birthplace, his contention that millions of illegal aliens voted, his notion that Mexican immigrants committed millions of rapes, even his wiretapping accusation, but news that the President wanted to sell arms to North Korea would make it even easier for Pence to prove that this howling idiot of a President was, in the words of the 25th Amendment to the Constitution “unable to discharge the powers and duties of his office.”</p>

<p>Then he turned his attention back to the phone. <q>In the meantime, Rex, maybe you can read up on the 25th Amendment, Section 4, if you understand my meaning.</q></p>

<p>Pence knew Tillerson would, so he circled another face on the chart in his office. Three down, five to go.</p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/07/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 7</div> 
    <div class="up-next-details">Waterboarding the overrider-in-chief</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>
