<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 7: ‘Sir, you can’t waterboard the President of the United States!’",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/07/",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-13T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>‘Sir, you can’t waterboard the President of the United States!’</h1>
{% include 'includes/social.html' %}

<p><p class="date">Friday, June 16, 2017</p>

<p class="dropcap">The President was in a foul mood when he summoned his defense secretary, Gen. James "Mad Dog" Mattis to the Oval Office. Vice President Pence and White House Chief Strategist Steve Bannon were also on hand.</p>

<p><p>The general knew this day was coming, but he had not thought it would come this quickly.</p>

<p><q>It's been five months, General, five months — and I'm getting antsy!</q></p>

<p>“Sir, we discussed this before and you said you would stand by my decision,” Mattis said.</p>

<p>The unspoken topic was torture.</p>

<blockquote>“Can it, soldier boy. I’m the overrider-in-chief.”</blockquote>

<p>“Yeah, well, I’m changing my mind,” Trump said. “We’ve got bad hombres streaming in across the border in Mexico and we’ve got awful Ahmads attacking us in Iraq and Syria. And they’re running wild. I said during the campaign that I would bring back a hell of a lot worse than waterboarding, and when I said that, the people gave me the biggest election win in our nation’s history — even more if you take away the illegal votes for Hillary — but it’s four months and we haven’t waterboarded anyone.”</p>

<p>“Mr. President, you remember what I said: Torture doesn’t work. Give me a cold beer and a pack of cigarettes and I can get you whatever information you need,” Mattis said. “And you promised my position would ‘override’ yours, Mr. President. That was your exact word: <em>override.</em>”</p>

<p>“Can it, soldier boy,” the President thundered. “I’m the overrider-in-chief.”</p>

<p>“I was aware that you might say that, Mr. President,” Mattis said ruefully.

    {% include 'includes/ad02.html' %}

<p>He returned to the Oval Office door and summoned two military aides with a jerk of his thumb. They entered carrying canvas duffels, wordlessly unzipped the bags on the carpet in the center of the room and began assembling the wooden parts of a Guantanamo-style waterboarding kit: just two planks propped on blocks at a 10-degree incline.

<p>Pence noticed that the board had holes at the top and bottom.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/07-mattis.png" alt="A cartoon drawing of General Mattis waterboarding the President">
</div>

<p>“General, what is the meaning of this?” he demanded, knowing fully well what the meaning of this was.

<p>Mattis ignored Pence. “Mr. President, torture does not work. And it is inhuman. So, with your permission, I’d like to offer a demonstration.”</p>

<p>“By all means, General,” Trump said.</p>

<p>“I’ll need you to lay on the board, sir,” Mattis said.

<p>Bannon interjected.</p>

<p>“That’s preposterous. You’re not going to waterboard the President of the United S—”</p>

<p>“Can it, Steve,” Trump interjected. “I’ll show the general how tough I got at New York Military Academy, where my dad sent me because I was out of control. Plenty tough, I tell you. I once beat up Donnie Smith, who went on to become a brigadier general! He was one year behind me. Yeah, and I kicked his little behind.”</p>

<p>“What had he done, sir?” Bannon asked.</p>

<p>“Said my dad’s buildings were ugly,” Trump said. “He was right, of course, especially given what I would build myself, but I couldn’t let him get away with it."

<p>Trump remembered Gen. Mattis.</p>

<p>“Anyway, General, I’ll even waive my rights under the War Crimes Act — which I don’t recognize anyway because it’s yet another of those multi-national agreements that we never seem to win anymore. So, let’s go, Mad Dog."

<p class="dropcap">Trump reclined on the planks with a smug smile before Mattis’s aides tied leather restraints around his hands and ankles and the general himself placed a cloth over Trump’s mouth.

<p>“That’s the best you got, soldier boy?” Trump taunted.</p>

<p>“This is just the start, Mr. President,” Mattis advised. “As you may or may not know, waterboarding is a form of water torture that has been with humanity since the Spanish Inquisition, although the Ancient Chinese had a ’water torture’ of some form."

<p>Mattis was just starting, stressing every word to heighten the tension so that Trump would understand what he — and by extension — torture victims were getting into.</p>

<p>“Here’s how it works,” he continued. “I’m going to pour water over the cloth, which will give you the sensation of drowning, Mr. President.”</p>

<p>“I once fell into the pool at Mar-a-Lago,” Trump shouted. “No biggie."

<p>“That’s good to know, sir, but I must warn you that waterboarding can cause extreme pain, dry drowning, damage to lungs, and brain damage from oxygen deprivation. And if you struggle against the restraints, you may even break a bone or two. And, of course, there can be lasting psychological damage. You might not be able to, for example, ever trust me again.”</p>

<p>“I don’t trust anyone now, general, so carry on,” Trump ordered.</p>

<p>“Finally, sir, and this is the important point, after all of this torture, you will not even tell me the truth,” Mattis said. “You will be so enraged at what I did to you that you will lie and say whatever you think I want to hear just to get out of those restraints.”</p>

<p>“Let the ’enhanced interrogation’ begin,” Trump blithely commanded.

<p>Mattis poured a few ounces of water over the cloth, prompting the President to gag, arch his back and produce a gurgling sound.</p>

<p>“General! Is this really necessary?” Pence asked at a near yell.</p>

<p>“It’s for his — and all of our — own good,” Mattis said.</p>

<blockquote>“After all of this torture, you will not even tell me the truth. You will be so enraged at what I did to you that you will lie and say whatever you think I want to hear.”</blockquote>

<p>“No, general, it’s for YOUR own good,” Bannon said. “Remember, you’re torturing a man who hasn’t told the truth since he was in short pants.”</p>

<p>“He’s not going to start now,” Mattis shot back, as Trump gurgled, “Gimme some more, General.”</p>

<p>Mattis bent low over Trump’s covered face.</p>

<p>“You want some more, fat boy?! You’ll get plenty if you won’t tell me what I want to know!”</p>

<p>As he poured more water on Trump’s face, the sound of a man drowning — like something out of a horror movie or, worse, an actual interrogation conducted by an actual American soldier against an actual prisoner in violation of the United Nations Convention Against Torture — became more pronounced.</p>

<p>“General! You’re going to kill him!” Pence screamed.</p>

<p>Trump’s head rocked back and forth in agony, desperate for air as the sensation of water in his lungs suddenly convinced that he was about to drown right there inside the very seat of American power.</p>

<p>“Are you going to tell me, fat boy?” Mattis screamed. “Are you? Blink your eyes if you want me to stop!”</p>

<p>Trump blinked his eyes.</p>

    {% include 'includes/ad03.html' %}

<p>“Get him up,” Mattis told the two soldiers, who released Trump from the restraints.</p>

<p>“Now, sir, don’t you think that’s torture?” Mattis asked Trump.</p>

<p>“Wait a second, General — ask him a question that he always lies about,” Bannon said.</p>

<p>“Mr. Trump, how was the crowd at your inauguration?” Mattis asked.</p>

<p>“It was sad — embarrassingly sad,” Trump said, tearing up.</p>

<p>“And your election victory?”</p>

<p>“It wasn’t big at all — Hillary won the popular vote fair and square and if 10,000 votes flipped in 10 counties, I would have lost the Electoral College bigly, too!” Trump said, now sobbing.</p>

<p>“And your small hands — do they really indicate that you have a small penis?” Mattis asked.</p>

<p>“I admit it! I know I said at the debate that there is ‘no problem,’ but there IS A PROBLEM,” Trump roared, the tears streaming down his cheeks.</p>

<p>“He’s a broken man,” Pence said. “It’s inhuman!”</p>

<p>“Yes, but effective!” Trump said, finally recovering. “It’s the only thing that got me to tell the truth. Now, General, get me someone to torture!”</p>

<p>Mattis had to admit, he’d been beaten at his own game. He looked over at Pence and his eyes said only one thing, “This guy is crazy.”</p>

<p>But worse, now that Trump had proven the efficacy of torture, staying in his dream job as the head of the Defense Department under President Trump would mean abandoning his convictions. Given what had just happened in the Oval Office, he would have no excuse to offer if he declined to waterboard a suspect.</p>

<p>Two days after Mattis’ demonstration, Pence called the secretary and gave him a 20-minute tutorial on the 25th Amendment and his idea for staging a coup that he hoped would be bloodless. He hung up and called in Wilhelm.</p>

<p>“Put a circle on Mattis!” he yelled. “How many is that?”</p>

<p>“Four, sir!"</p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/08/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 8</div> 
    <div class="up-next-details">Sonny Perdue: Tough man, tender chicken</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>