<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 8: President Trump’s fowl play",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/08",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>President Trump’s fowl play</h1>

<p class="date">Friday, June 16, 2017</p>

<p class="dropcap">Sonny Perdue had had enough.</p>

<p>The former governor of Georgia was one of the last members of the Trump cabinet to be confirmed — a minor matter of him not having filed any paperwork with Congress — but President Trump made up for lost time by calling his agriculture secretary almost every other day with seemingly no memory of what had been discussed in the earlier conversation.</p>

<p>Trump started the conversations the same way every time, <q>What’s up, Chicken Man!</q></p>
<div class="full-width">
    <img src="{{response.app.url_root}}static/img/08-sonny-perdue.png" alt="A cartoon drawing of Sonny Perdue, Trump and a bucket of chicken">
</div>

<p>The problem? Sonny Perdue was not, in any way, related to the Perdue family whose name was synonymous with poultry and whose rooster-faced patriarch, Frank, was known internationally, thanks to his commercials and the tagline, <q>It takes a tough man to make a tender chicken.</q> Donald Trump loved two things: chicken and not caring about little things like facts.</p>

<p>Sonny grew up on a farm, but that’s where the similarities between him and Frank Perdue ended. Sonny was raised in central Georgia, not Maryland. And his father, George Ervin Perdue, Jr., was a soybean, peanut and dairy farmer — the closest chicken was in the supermarket in Perry. Sonny had gone to veterinary school, whereas Frank had dropped out of college to join the family chicken business. Sonny was married once and for life; Frank was married three times (and for strife).</p>

<p>Sonny went into politics and was accused of ethical transgressions; Frank stayed on the farm and was accused only of chicken breeding.</p>

<p>Sonny Perdue served four terms in the Georgia legislature and two as Georgia governor, but every time he spoke to President Trump, he felt that he had been nominated as agriculture secretary in a case of mistaken identity. The ultimate fowl up.</p>

    {% include 'includes/ad02.html' %}

<p>And now the President was summoning him to the Oval Office to talk about the budget.</p>

<blockquote>Donald Trump loved two things: chicken and not caring about little things like facts.</blockquote>

<p><q>Chicken man!</q> Trump said as Perdue entered the Oval Office, accompanied by Vice President Pence and White House Counselor Steve Bannon.</p>

<p>Perdue shot Pence an aggrieved look as he tried to explain who he was — again — then turned his attention to Trump.</p>

<p><q>Mr. President, it is good to see you,</q> Perdue said. <q>Just to remind you, sir, I’m not actually related to —</q></p>

<p><q>You know what I love most about your dad?</q> said Trump. <q>The whole ’tough man, tender chicken’ thing. He’s so much like me in so many ways: Put your name on something and create a brand out of nothing. Chickens? Who bought chickens by name until your dad came along? Same with me and golf courses. Before me, a golf course would be named after some town or topographical feature — you know, Augusta National or Spanish Bay. But now, you hear ‘Trump International’ and you know that’s a course you want to play.</q></p>

<p><q>Sir, my dad was just a humble dairy farmer in Georgia,</q> Perdue said. <q>I think —</q></p>

<p><q>How do you like this guy, Pence — so modest, so humble,</q> Trump said. <q>Now, let’s get down to business, Chicken man.</q></p>

<p>Pence smirked as Bannon handed Trump a folder, and Trump read aloud.</p>

<p><q>So, Sonny, we’re going to cut the USDA budget by about $5 billion because, you know, we have to drain the swamp — oh, and speaking of which, about half a billion of that is to eliminate a program that funds clean water and sewer systems in rural areas.</q></p>

<p><q>Mr. President, $5 billion is about 21% of my budget!</q> Perdue protested.</p>

<p><q>Yes, yes, I know you’re going to tell me what they all tell me,</q> the President said, <q>And small communities bigly rely on some blah blah blah program...</q></p>

<blockquote><q>I’m probably saving your family millions in chicken breeding and disease costs. You can pay me back with a bucket of KFC any time.</q></blockquote>

<p>Actually, Perdue wasn’t thinking that at all. He was worried that the agency would be forced to close the Half Moon Ranch, a secret perk of all USDA secretaries. Nestled in the Cochise Stronghold, a National Forest Service holding east of Tombstone, Arizona, the lodge comprised cabins, stables, a gourmet kitchen, hunting grounds and pristine streams for fishing. Every secretary since JFK’s USDA head Orville Freeman secretly entertained donors and/or mistresses there. Budget cuts had often threatened the Cochise Stronghold, but the agency had always hidden  it deep inside the Forest Service budget (it takes a lot of money to clear brush from national lands, you know). But there had never been a budget cut as big as Trump’s. And the ranch was really the only reason Perdue wanted USDA.</p>

    {% include 'includes/ad03.html' %}

<p><q>Oh, but look at this!</q> Trump said, brandishing the briefing paper. <q>We didn’t touch the Southeast Poultry Research Laboratory! It’s still fully funded.</q></p>

<p><q>But, sir —</q> Perdue started.</p>

<p><q>I’m probably saving your family millions in chicken breeding and disease costs,</q> Trump said. <q>You can pay me back with a bucket of KFC any time. Now, if you’ll excuse me, we’re very busy here. I have to tell Scott Pruitt that he’s losing 40% of his budget! Mike, can you walk the secretary out?</q></p>

<p>Pence accompanied Perdue out of the Oval Office.</p>

<p><q>What I wouldn’t give to have a President who was obsessed with steak,</q> Perdue joked.</p>

<p><q>You know, now that you mention it, we should  have lunch soon, Mr. Secretary,” Pence responded with a conspiratorial wink. <q>I happen to like my meat rare and bloody, if you catch my drift.</q></p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/09/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 9</div> 
    <div class="up-next-details">Pence meets with the face that launched a million T-bills</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>
