<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 9: Vanity, thy name is Mnuchin",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/09",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>Vanity, thy name is Mnuchin</h1>
<div class="full-width">
    <img src="{{response.app.url_root}}static/img/09-mnuchin.png" alt="A cartoon drawing of Steven Mnuchin sourrounded by women">
</div>
<p class="date">Monday, June 19, 2017</p>
<p class="dropcap">Mr. Secretary, I love what you have done with this office!” Pence told Steven Mnuchin as he entered the Treasury boss’s office inside the agency’s Neoclassical palace.</p>

<p>It was no small gesture to the importance of the Treasury Department that Washington’s original architects not only built a temple of money larger than the White House, but put it next door to the President’s residence on Pennsylvania Avenue. Presidents tended to sleep soundly knowing where the money was.</p>

<p>To be clear, there was nothing about Mnuchin’s office that differed radically from that of his predecessor, Jack Lew, or from his predecessor, Tim Geithner, or even from his GOP predecessor, Henry <q>Iron Bond</q> Paulson: There was the massive oil painting of Alexander Hamilton; the flags of the United States and the Treasury Department (mint green!);  the blue banner of the Coast Guard; and an imposing, desk — a desk that said the U.S. economy was sound and unsinkable. </p>

<p>(Still, just in case, Paulson had kept a bottle of Kentucky bourbon in the bottom drawer from when he took over in 2006 until his departure after the financial crisis of 2008; the almost-empty bottle was still there when Mnuchin showed up.)</p>

<blockquote>Mnuchin’s vanity wall celebrated something very different: No matter who was in the picture, there was always an attractive woman on Mnuchin’s arm.</blockquote>

<p>And Mnuchin had done up one wall of the office in the same manner as every predecessor dating back to the earliest days of daguerreotype photography: Here’s Mnuchin with Donald Trump, Edie Falco and his then-wife Heather Crosby at a City Harvest fundraiser in 2000; there’s Mnuchin with Hollywood producer Steve Bing at a benefit in 2013; here’s Mnuchin in a windowpane suit squeezed in next to Gillian Wynn at the Conservation International gala in 2016.</p>

    {% include 'includes/ad02.html' %}

<p>But while other politicians used their vanity wall to celebrate their own importance relative to the global titans eager to pose with the politician in question, Mnuchin’s wall celebrated something very different: No matter who was in the picture, there was always an attractive woman on Mnuchin’s arm.</p>

<p>Initially, it was Heather, Mnuchin’s wife of 15 years. But shortly after their split in 2014, another statuesque blonde made regular appearances at philanthropic galas, investment conferences and Hollywood premieres: Mnuchin’s new girlfriend, the actress Louise Linton.</p>

<p>And Linton showed up in a lot of vanity wall pictures, what with Mnuchin taking a hunk of his Goldman Sachs money and plowing it into a production deal with Warner Bros. that financed dozens of films, from the sublime ("The Lego Movie") to the ridiculous ("The Conjuring 2") to the just so bad that someone should have gone to jail ("Batman v Superman: Dawn of Justice").</p>

<p>The movies sold hundreds of millions in tickets, but also found roles for Linton, a strictly B-level starlet well past her prime (and whose prime, such as it was, peaked with the lead role in the 2013 sci-fi dud, <q>Scavengers.</q></p>

<p><q>I mean, look at this wall,</q> Pence said, sweeping his arm widely to contain the multitudes of Mnuchin’s vanity. <q>I have been in government for 20 years and I’ve never seen a more attractive wall. If I have to see one more picture of some congressman in a grip-and-grin with Ronald Reagan or George W. Bush, I swear I’m going to scream! But you, Mr. Secretary, I like your style.</q></p>

<p><q>Well,</q> he said, <q>Louise is a good sport.</q></p>

<p class="dropcap">Louise Linton was more than a good sport. She was the construction scaffolding around the rickety, leaky edifice of Steve Mnuchin’s self-image at this particular moment. Mnuchin’s money — the first few million from daddy and the next gazillion from Goldman — had always served as a nuclear first strike against the grinding monotony of Mnuchin’s physical appearance.</p>

<p>Steve Mnuchin’s was the face that launched a million T-bills, but it was also the face that launched a thousand longer faces. His lips were like two pink bananas lying horizontally under a thick 5-o’clock shadow where a mustache and beard should have been (as homunculan cabinet predecessor Robert Reich himself had figured out!).</p>

    {% include 'includes/ad03.html' %}

<p>And therein lay Pence’s strategy. Pence knew that Mnuchin and Trump had quarreled over myriad policy details such as the Volcker Rule — and Trump had even vetoed Mnuchin’s pick for deputy because the would-be second-in-command once retweeted a Wall Street Journal article that was critical of Trump’s position on weakening the dollar.</p>

<p>But that wasn’t how Pence was going to flip Steven Mnuchin.</p>

<p><q>And how is Ms. Linton taking to Washington?</q> Pence asked. <q>I imagine it’s not as glamorous as she’s used to. Of course, there’s no reason it has to stay that way.</q></p>

<p><q>Mr. Vice President?</q> Mnuchin asked, confused.</p>

<p><q>Look, Mr. Secretary, maybe we can help each other,</q> Pence started before spinning visions of Mnuchin strolling with Linton on red carpets in front of real paparazzi at congressional hearings, Fed board meetings and even coin redesign press conferences.  </p>

<p>Transfixed by the image of Linton sitting beside him, amid the cabinet, at State of the Union addresses, Mnuchin pliantly nodded his head up and down as Pence explained the 25th Amendment.</p>

<p>Later, Pence revealed his success to Wilhelm.</p>

<p><q>That Mnuchin will do anything to be photographed with that woman on his arm,</q> Pence said.</p>

<p>Wilhelm injected a dose of reality.</p>

<p><q>Well done, sir,</q> he began. <q>But I fear that other members of the cabinet will not be so, um, pliable.</q></p>

<p><q>Leave that to me,</q> Pence said. <q>In the meantime, circle Mnuchin’s face on that chart. That’s six!</q></p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<a href="{{response.app.url_root}}chapter/10/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 10</div> 
    <div class="up-next-details">A Beltway power player wants in on the action</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>