<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "Fiction | Coup! Ch. 10: A Beltway powerhouse takes over",
            "url": "http://interactive.nydailynews.com/fiction/coup/chapter/10",
            "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
            "dateCreated": "2017-06-12T05:00:00Z",
            "articleSection": "Interactive",
            "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
            "keywords": ["interactive","interactive fiction", "Donald Trump", "Mike Pence", "politics", "satire"]
        }
</script>

<h1>A Beltway powerhouse takes over</h1>

<p class="date">Tuesday, June 20, 2017</p>

<p class="dropcap">Elaine Chao had been in Washington so long that she was as much a fixture as the humidity, the fundraising cold-calls and the glad-handing lobbyists.</p>

<p>She grew up wealthy — the daughter of a rich Asian shipping magnate who was good enough at what he did that he had Chinese Communist supreme leader Jiang Zemin and Taiwanese President Lee Teng-hui on speed dial. James Chao moved the family to America when Elaine was just 8, and she lived the American Dream.</p>

<p>No, Elaine Chao was not the tempest-tossed immigrant envisioned by the plaque on Lady Liberty. But this is America, where a rich kid from Syosset, Long Island, could be refashioned as the greatest patriotic immigrant story since Irving Berlin fled pogroms in Russia. To the GOP image makers, Chao was a boat person who came to America penniless and bootstrapped her way to prominence.</p>

<p>Chao's name and the term <q>first Asian</q> had been spoken together so often that many in Washington thought her real name was Firstasian Chao, not Elaine Chao: She was the first Asian to be a deputy Cabinet member (for George H.W. Bush); the first Asian to head the Peace Corps; the first Chinese-American in the Cabinet (for George W. Bush); the first Asian to marry the previously married Sen. Majority Leader Mitch McConnell, which she did in 1993.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/10-elaine-chao.png" alt="A cartoon drawing of Transportation Secretary Elaine Chao">
</div>

<p>In a town where any rising star needs a rabbi, Elaine Chao had practically an entire Hasidic wedding in her camp. Plenty of people knew, for example, that Chao had solicited illegal campaign contributions for her future husband in 1990, but that faux pas never came up at her confirmation hearings for labor secretary in 2001.</p>

<p>And her tenure as labor secretary — marked by coal mining disasters, violations of rules mandating overtime pay, opposition to increasing the minimum wage, a decrease in workplace-safety inspectors, advocacy of President Bush's corporate tax cuts, outsourcing American jobs to China, and even consideration of closing down the department itself! — should have been reason enough to reject her as Donald Trump's nominee to run the Transportation Department.</p>

    {% include 'includes/ad02.html' %}

<p>Except she was Elaine Chao: the woman with the compelling personal story (which completely unraveled when actually reviewed), the record of achievement (which contained very little achievement at all) and the most powerful husband in Washington (whom she may have bent rules to help re-elect).</p>

<p>So Mike Pence never had to call Elaine Chao. She called him.</p>

<p class="dropcap">I know what you're doing, and I think it's despicable,” Chao said by phone from her office in the Department of Transportation headquarters on New Jersey Avenue near the Navy Yard — one of the few government shrines in town that wasn't  a massive concrete monument to bureaucracy.</p>

<p><q>Madame Secretary,</q> Pence started, <q>I assure you I have no idea what you are talking about.</q></p>

<p><q>Mike, I've been running agencies in Washington since before you took that lollipop out of your mouth and decided to run for Congress,</q> Chao said. <q>I've served four Presidents. I even married Mitch McConnell. A breeze doesn't blow between the Tidal Basin and the Anacostia without me smelling it. Promising Ben Carson that he can smoke ganja with The Man breathing down his neck — that was good. Taking advantage of Mnuchin’s stunted self-image — also good, I have to admit.</q></p>

<p><q>Ms. Chao —</q> Pence started.</p>

<p><q>Stop, Mike,</q> she cut him off. <q>I know what you're doing—</q></p>

<p><q>Again, Madam Secretary —</q> Pence interrupted.</p>

<p><q>— and I want in,</q> she added.</p>

<p><q>But what you said I'm doing is ‘despicable,’</q> Pence offered.</p>

<p><q>Yes, despicable because you didn't include me,</q> Chao said. <q>If this plan is going to work, you need me more than anyone.</q></p>

<p>Pence was forced to admit he had been too quick to assume that the ultimate Washington insider would balk at a plan to overthrow the President. Perhaps Pence should have realized that the wife of the Senate majority leader — who so openly said, <q>The Russians are not our friends</q> as he called for an investigation into Putin's interference in the 2016 election — could come in handy when things got messy.</p>

<blockquote><q>If this plan is going to work, you need me more than anyone.</q></blockquote>

<p><q>You have no idea what Mitch is hearing,</q> Chao said.</p>

<p><q>He knows what the Russians did?</q> Pence asked. <q>He knows about Flynn, Jared and Russian intelligence?</q></p>

    {% include 'includes/ad03.html' %}

<p>Gen. Mike Flynn had lasted all of about a month as Trump's National Security Adviser and was forced to resign after revelations that he had met with Russian officials during the campaign and discussed removing economic sanctions against Russia before he even took office, a potential violation of a federal law that prohibits private citizens from interfering in American foreign policy. </p>

<p><q>Flynn is nothing — though you can thank Mitch for leaking that bit about that idiot's lobbying for Turkey without telling anyone.</q></p>

<p><q>What else does Mitch know?</q> Pence asked. <q>Was there direct contact between Putin and Trump? How about a Russian plot to infiltrate the Department of Energy? How about Putin moving money to Trump through the Bank of Cyprus?</q></p>

<p><q>You’re getting there, Mikey, but, for now, my lips are sealed — and they’ll stay sealed unless you give me what I want.</q></p>

<p><q>Which is what, Madam Secretary?</q></p>

<p><q>To be the first Asian vice president, of course,</q> Chao said.</p>

<div style="text-align: center;margin-left: 30px;">{% include 'includes/kindle.html' %}</div>

<!-- <a href="{{response.app.url_root}}chapter/11/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 11</div> 
    <div class="up-next-details">FLOTUS discovers Tinder</div>
    {% include 'includes/satire.html' %}
</div>
</a> -->

<div class="up-next-box">
    <div class="coming-soon">stay tuned</div>
    <div class="up-next-chapter">for part 3 of 5</div> 
    <div class="up-next-details" style="color: #002E76;">D.C. drama heats up tomorrow in the next installment of COUP!</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
