<h1>The First Lady makes her moves</h1>

<p class="date">Tuesday, June 20, 2017</p>

<p class="dropcap">The President, blissfully unaware, was in the Oval Office overseeing the deportation of millions of Mexican immigrants while the First Lady was in Trump Tower setting up a Tinder profile.</p>

<p>Who could blame her, stuck in a passionless marriage to a loathsome husband who pursued his own interests without a single thought for her or her needs? In this way, was Melania Trump different from any unappreciated New York wife? </p>

<p>Was she different from Ellen, 51, from Brooklyn, who spent the last five years of her 14-year-marriage realizing that her husband was simply not emotionally attuned to her changing needs? </p>

<p>Was Melania so different from Sarah, 48, in Staten Island, who lost 20 pounds, took cooking classes and learned everything about the Giants’ nickel defense in hopes that her husband would stop cheating on her? </p>

<p>Was the First Lady different from Andrea, 50, in Queens, whose husband spent longer and longer hours in the office, where he felt confidence in his abilities, and fewer hours at home, where he had to confront daily his mediocrity as a parent and husband? </p>

<p>Was FLOTUS any different from Jeannie, 49, of the Upper West Side, whose husband stopped having sex with her about 10 years into the marriage and the resulting loss of self-image made her desperate for the positive feedback that comes simply from being desired?</p>

<p><q>Flotus, 46,</q> she typed.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/11-melania-tinder.png" alt="A cartoon drawing of the First Lady's Tinder profile">
</div>

<p>She loaded up the best pictures her maid had taken — the one with the white blouse would be the first photo that came up. The shot of her in the gauzy blouse would be second. There was nothing overtly sexual about the garment itself, but it suggested ripe possibilities. </p>

<p>The hard part was writing the profile.</p>

    {% include 'includes/ad02.html' %}

<p>Tinder, of course, is a hookup site designed so that twentysomethings can pick bedmates based almost entirely on proximity and availability at the moment. Meanwhile, older people enter the Tinder dating stream with the naive hope that it will carry them to long conversations with interesting, like-minded people with whom they can chose to have sex at a later date.</p>

<p>Any student of Tinder will tell you that profiles of middle-aged women are filled with lots of useless information (<q>I read the New York Times every day</q>), too much ambivalence (<q>Not sure if Tinder is for me...</q>), preemptive deal-breakers (<q>No wimps, co-dependents, takers...</q>), the obligatory lie (<q>I find sense of humor the most attractive feature in a man...</q>) and almost always, a vague request for a <q>partner in crime</q> or some boast that she is <q>living life to the fullest!</q></p>

<p>Melania knew what annoyed her in a profile, but it still wasn’t so easy to actually write one...</p>


<p><q>I am a European-born model who is seeking the opposite of my self-absorbed, spray-tanned husband...</q></p>

<p>That’s not the best way to start, she thought to herself. A bit too obvious.</p>

<p>She erased and started typing again.</p>

<p><q>European-born model not looking for anything long-term; I’m separated from my husband, who says he’s too busy running the world to make me feel special.</q></p>

<p>She added a coda that she had seen on so many New York City profiles, <q>Liberal politics a plus. Trump voters swipe left!</q></p>

<p>She hit <q>Finish</q> and the profile went live. The First Lady of the United States had made history, albeit a secret one: She was officially on a dating site with a somewhat fair reputation as a carnal playground.</p>

<a href="{{response.app.url_root}}chapter/12/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 12</div> 
    <div class="up-next-details">Rick <q>Oops!</q> Perry and a smart TV</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>

