<h1>The Russians make their move</h1>

<p class="date">Tuesday, June 20, 2017</p>

<p class="dropcap">Mike Pence thought he could swing Rick Perry with a single shock-and-awe conversation, so he waited until 11 p.m. to pound on the door of the Energy Secretary’s room in the Washington Plaza Hotel in Thomas Circle.</p>

<p>The Energy Department had rented Perry a furnished unit in the Washington Plaza until he could get his own place. But this apartment was barely suitable for a mid-level executive at a non-profit organization: generic furniture, paintings of nature scenes from Target, lamps with plugs in the base, a coffee maker with bags of java probably ground from beans during the Johnson Administration.</p>

<p>And there was also a 37-inch Samsung smart TV on which Perry spent most nights re-watching his performance on Season 23 of <q>Dancing with the Stars.</q> Yes, he had lost in the first round, but he and Emma Slater’s <q>God Blessed Texas</q> routine had neither embarrassed Perry as a dancer nor as a former public official. The longest-serving governor in Texas history emerged as a good sport — one who not only had the $125,000 appearance fee in his pocket, but also a renewed possibility that he could resuscitate his career and maybe unseat Sen. Ted Cruz in 2018. After all, reality TV had provided a springboard for a President, so why not a future senator?</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/12-perry-dancing.png" alt="A cartoon drawing of a dancing Rick Perry">
</div>

<p>Pence pounded again. Perry grew frightened. He didn’t think of himself as a man with enemies — well, except for supporters of abortion and grammar, but neither are particularly violent — but then again, he was the energy secretary to the most controversial president since Lincoln, and even Rick Perry knew how that ended up, so anything was possible.</p>

    {% include 'includes/ad02.html' %}

<p>Tiptoeing to the door, Perry peered through the peephole to find the vice president looking back at him. Relief gave way to embarrassment and he pushed his eyeglasses back into place. They were smart-man glasses, everyone said.</p>

<p>Perry threw open the door for Pence.</p>

<p><q>Mr. Vice President,</q> Perry said as Pence entered. <q>Welcome to my prison cell.</q></p>

<p class="dropcap">Pence looked around and took an immediate distaste for the apartment, but he knew it could be worse. At least it wasn’t the Watergate, which was Perry’s first choice before he was overruled for reasons that would have been obvious to anyone except Rick Perry.</p>

<p><q>Mr. Secretary, is this the best they could find for you?</q> Pence said. <q>You do know you’re going to be living in Washington for the next eight years, right?</q></p>

<p><q>From your lips to God’s — and Donald’s weird doctor’s — ears! Now, sir, what brings you to my humble abode?</q> Perry asked, though he pronounced <q>abode</q> like it was a Spanish word: <q>a-bo-day.</q></p>

<p>Pence ignored Perry’s malapropism, just as he wasn’t about to bring up the bizarre path Perry had walked to stewardship of the Department of Energy — one of the three agencies that then-2012-candidate Perry said he wanted to eliminate, yet the only one of the three whose name eluded him during a fateful candidates debate.</p>

<p><q>The three agencies of government when I get there that are gone – Commerce, Education and the um, what’s the third one there? Let’s see. Commerce, Education and the um, um. Oops,</q> he said. That single word, <q>Oops,</q> would within two months become an easy shorthand for the lines Perry would deliver two months later: <q>I regret to say that there is no viable path forward for me.</q></p>

<p>But now he was running that very agency whose name he couldn’t remember but he had been certain needed to be eliminated. Fortunately, on his first day on the job, Perry learned that the Department of Energy is not, in fact, superfluous. Later, Perry discovered, the agency oversaw the nation’s nuclear weapons (huh?); construction of nuclear reactors for the Navy (double huh?); and disposal of radioactive waste (which, Perry once figured, you could bury on the back 40 of any decent Texas ranch). Aides also reported that the department had started the Human Genome Project and used its sort-of-secret national laboratories to conduct more research in physical sciences than any other federal agency (yowza!).</p>

<blockquote>Pence considered how easily he could humiliate Perry — just ask him who has the best double-play combination in the National League or to recall the names of the Three Tenors (Placido Domingo, Luciano Pavarotti and, um, oops).</blockquote>

<p><q>I wish I could offer you something, Mr. Vice President, but all I have is milk and eggs in the fridge,</q> Perry said. <q>I was supposed to get something else. Milk, eggs, and, um, um, oops.</q></p>

<p><q>Bacon?</q> Pence asked.</p>

<p><q>Yeah, that was it! That always happens to me,</q> Perry said.</p>

    {% include 'includes/ad03.html' %}

<p>Pence considered how easily he could humiliate Perry — just ask him, for instance, who the best double-play combination in the National League or to recall the names of the Three Tenors (Placido Domingo, Luciano Pavarotti and, um, oops). Instead, he played to Perry’s vanity.</p>

<p><q>Rick, as happy as I am to have you in the cabinet, I really thought you were going to win ‘Dancing with the Stars’ and start an entirely new career,</q> Pence deadpanned. <q>Cruise ships, summer stock, who knows, Broadway?</q></p>

<p><q>Thank you, Mr. Vice President,</q> Perry grinned, rushing over to the nightstand. <q>This is the only personal item I keep in this lousy hotel room.</q></p>

<p>He held up Emma Slater’s leotard — the one she wore during all those practice sessions before the mirrored wall with the barre. <q>She gave this to me as a memento, and I cherish it.</q></p>

<p><q>Wow! Wow! Wow,</q> Pence enthused before adding in a tone that expressed injustice. <q>You’re right about this room, Mr. Secretary. A man of your stature is owed much better. If I was in charge, I would have taken care of you properly.</q></p>

<p>Perry listened doe-eyed as Pence continued, <q>In fact, I can still help you. You are not being treated right at all.</q></p>

<p>Perry’s brow darkened.</p>

<p><q>What do you mean? I am a man who runs big things and the President has given me a big, big thing to run.</q></p>

<p><q>Actually . . .</q></p>

<p>Pence gestured Perry into sitting on the edge of the bed. Then, standing over him, Pence told Perry that under President Trump, Perry’s job would be to shrinking the Energy Department down to just the nukes — and then transfer those weapons to the Department of Defense, all within 18 months.</p>

<p><q>Poof, they’re gone and you’re gone,</q> Pence said.</p>

<p class="dropcap">Remembering that Perry had taken 53 seconds just to say the word <q>oops,</q> Pence allowed Perry time to process the end of his career. He’d been his state’s powerful agriculture commissioner, its lieutenant governor and its three-plus-term governor — and Mike Pence knew that Rick Perry had a Texas-sized pride.</p>

<p><q>And when you’re done, President Trump says he’ll thank you for your service with the ambassadorship to the Maldives,</q> Pence said.</p>

<p>Even Rick Perry knew the implication. <q>The Maldives?</q> he said. <q>The Maldives are one of three island chains that won’t likely even be around after Scott Pruitt is done at the EPA. It’s the Maldives, the Fiji islands and, um, er, oops.</q></p>

<p>Finally, Perry asked desperately, <q>What can I do?</q></p>

    {% include 'includes/ad04.html' %}


<p><q>No, Rick, the question is what can I do ... for you?</q> Pence responded. <q>There are many of us in the administration who don’t want President Trump to eliminate the Department of Energy. In fact, many of us want to expand it, with you in charge. Big things to run, Rick.</q></p>

<p><q>Whatever you want, Mr. Vice President,</q> Perry said. <q>Just name it.</q></p>

<blockquote>Unbeknownst to Perry, Russian Foreign Intelligence Service agents, tipped off by WikiLeaks on how the CIA could hack into such Internet-connected devices, had been surveilling Perry for weeks.</blockquote>

<p><q>There’s just one thing,</q> Pence said. <q>Have you ever heard of the 25th Amendment?</q></p>

<p>Rick Perry had not — but the men on the other side of that Samsung smart TV had. Unbeknownst to Perry, Russian Foreign Intelligence Service agents, tipped off by WikiLeaks on how the CIA could hack into such Internet-connected device, had been surveilling Perry for weeks. They didn’t get much: All they heard was Rick Perry spending a lot of time watching <q>Dancing with the Stars</q> reruns.</p>

<p><q>Something is happening in Perry’s room,</q> the FIS officer in charge reported to his superior, Ambassador Sergey Kislyak.</p>

<p>Kislyak and the agent listened some more and quickly realized that Mike Pence was deep into staging a coup to remove President Trump from office. Kislyak got on the red phone to the boss, who had worked too hard to get Trump elected to see him swept away from power. Killing a cabinet member was an extreme act, but a dead cabinet member was one fewer cabinet member in Pence’s team of plotters.</p>

<p><q>I understand, sir,</q> Kislyak said, hanging up the hotline and turning to his agent. <q>Get to that hotel room. We vant Perry neutralized. But it must be clean. It must look like accident or suicide. Pahnyatna?</q></p>

<p>The hastily crafted plan called for two agents to wait until Pence had left and Perry was alone with Slater’s leotard. But this time, the leotard would go around Perry’s neck. Anyone discovering the body would immediately assume that the 14th secretary of energy was merely the victim of autoerotic asphyxiation.</p>

<p>But the FIS agents weren’t the only ones who had hacked into Rick Perry’s TV. So while Mike Pence raced over to his office to circle the eighth — and final — cabinet member on his crime family tree, a heroic and unheralded CIA agent raced to the Washington Plaza Hotel on Thomas Circle to save a life — and, he hoped, a nation.</p>

<a href="{{response.app.url_root}}chapter/13/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 13</div> 
    <div class="up-next-details">Deep State, a leotard &amp; a Russian surprise</div>
    {% include 'includes/satire.html' %}
</div>
</a>