<h1>The Vice President prays away the Putin</h1>

<p class="date">Wednesday, June 21, 2017<br>Early morning</p>

<p class="dropcap">Deep State had the keys to pretty much every apartment in town — and found Perry, his pants around his ankles and Emma Slater's leotard around his neck, hanging from a hook on the back of his bedroom door.</p>

<p>The energy secretary was still conscious as the agent pulled out a knife and was about to cut him down.</p>

<p><q>Don't use the knife,</q> Perry managed to sputter. <q>Just pull me down!</q></p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/13-perry-leotard.png" alt="A cartoon drawing of Rick Perry hanging by a leotard on a bathroom door">
</div>

<p>Deep State put Perry in a bear hug and lifted him over the hook, relieving the pressure on his neck. Perry collapsed on the floor and untied the leotard. Rubbing his neck, he profusely thanked the stranger who had saved his life, all the more so for sparing Slater’s leotard, his cherished souvenir.</p>

<p><q>They wanted whoever found me to think it was autoerotic asyphixiation,</q> Perry said.</p>

<p><q>They, sir?</q> Deep State asked, keeping up the notion that he was just a Good Samaritan.</p>

    {% include 'includes/ad02.html' %}


<p><q>The people who wanted me dead,</q> Perry stammered, panic setting in. <q>I know this looks like a classic Washington scandal: A lonely man in D.C. A horrible hotel room. A stretchy symbol of reality TV fame that barely eluded him. It all adds up. But I tell you, I wasn't ….</q></p>

<p>Deep State tuned out Perry’s desperate pleas for belief. Fact was, the Russians wanted Perry dead because he had signed onto Pence's plot. And there was no way Vladimir Putin would stop at just one murder attempt when seven other Cabinet members had already agreed to depose President Trump. Putin would act again, Deep State knew, unless Mike Pence gave him a reason to stop.</p>

<br>
<hr class="fancy">

<p><em>Later that night</em></p>

<p class="dropcap">Vice President Mike Pence was on his computer in the Eisenhower Executive Office Building Googling the term <q>pray away the gay conversion therapy online course</q> when, suddenly, the screen went black but for the universal command prompt: C:\, with a blinking cursor. Then, he watched as the letter <q>R</q> appeared beside the prompt, followed by <q>U</q> and <q>N.</q> Someone, somewhere appeared to be typing remotely.</p>

<p><q>Wilhelm,</q> Pence hollered. <q>Get in here!</q></p>

<p>His aide entered, and Pence explained what had happened.</p>

<p><q>I was just trying to download, er, something when the entire screen went blank and this command line appeared!</q></p>

<p><q>What were you searching for, sir?</q> Wilhelm asked.</p>

<p><q>Um, er, some hard facts, er, something for a bill that's being proposed,</q> he stammered.</p>

<p><q>Of course, sir,</q> Wilhelm said. </p>

<p>Startled and more than a little fearful, Pence watched as the screen filled with lines of code, thousands of them, scrolling up and up and up for about 45 seconds. When the data dump was done, these words appeared on the screen:</p>

<ul>
	<li style="font-family: monospace;">I saved Rick Perry's ass.</li>
	<li style="font-family: monospace;">You're welcome.</li>
	<li style="font-family: monospace;">But you still have a problem with the Russians, who will be back.</li>
	<li style="font-family: monospace;">This should neutralize them.</li>
	<li style="font-family: monospace;">Happy hunting,</li>
	<li style="font-family: monospace;">Deep State.</li>
</ul>

<p>Next, the computer fired up the White House email system, opened up a new blank email and sent the entire dump to Vladimir Putin's private email address, <q>мужественныйПутин69</q> (<q>ManlyPutin69</q>).</p>

<p><q>Well, whatever that document was,</q> Pence said, <q>I just sent it to Vladimir Putin!</q></p>

<p class="dropcap">Trembling, Pence used the scroll bar to go back to the top and started reading:</p>

<p><q>Eyes only. Agent Moscow 2094 report. Subject: Vladimir Vladimirovich Putin.</q></p>

<p><q>Oh my god, Wilhelm,</q> Pence burst out. <q>The CIA had an agent in Moscow to get kompromat on Putin.</q></p>

<p>Agent Moscow 2094 reported that Putin hung out in a bar hidden in the basement of the Museum of the History of Corporal Punishment on Arbat Street near the Kremlin, an institution filled with torture devices from the czars and the KGB.</p>

<p>On 2 July, 2016, the secret bar had featured music by Sonny Pullman and the Jug Dealers — the report said Putin loves bluegrass, who knew? — with Agent Moscow 2094 undercover as violinist Irina Raskolnikova.</p>

<p>Pence read on.</p>

    {% include 'includes/ad03.html' %}

<p><q>Subject Putin complained of being overheated and removed his shirt.</p>

<p><q>Subject Putin complimented the violinist's physical attributes as he danced around her.</p>

<p><q>Subject Putin said, ‘You knew, in my village, ve call a fiddle a <q>skrepka.</q> It is from famous Russian expression, <q>Мои ляжки терлись друг друга, и звук словно это скрип воздушного шарика.</q></p>

<p><q>Damn it! That's a classic secret agent thing,</q> Pence thought. <q>Testing someone to see if they know local idioms.</q></p>

<p>But Agent Moscow 2094 had nailed it by saying to Putin, <q>Why, Mr. President, I had no idea your thighs rub together and sound like a squeaking balloon.</q></p>

<p><q>Vell, only when I want my thighs to rub together to make beautiful music,</q> Putin had said before taking her her upstairs to the museum to show her an Ivan the Terrible torture rack. </p>

<p>There, Putin ripped off his clothes and tore Agent Moscow 2094’s blouse, but not before the camera hidden in her button captured him in full frontal nudity, documenting that Vladimir Putin was really and truly a woman. </p>

<p><q>W-O-M-A-N! And I have the photo,</q> Pence roared before reading to the dossier’s end:</p>

<p><q>Subject Putin's aide entered with a pistol in one hand and two Olympic medals in the other.'</p>

<p><q>Subject Putin took the medals and put them around his neck. A bronze one said <q>XIX Olimpada Mexico 1968</q> and the gold version said <q>XX Olympiade Munchen 1972.</q>'</p>

<p><q>Subject Putin said: <q>I will not allow you to tell the world that I am actually Nadezhda Vyimishlennova, the greatest female bantamweight boxer in the history of Soyuz Sovetskikh Sotsialisticheskikh Respublik!</q></p>

<p>Pence bolted to his feet. It all made sense now! The man the world knew as Vladimir Putin had, at age 16 and 20, been a willing participant in the Soviet Union doping program that had pumped so many steroids into the developing bodies of young girls that they showed up at the Olympiads having to shave their faces every morning in the men's restroom. And it worked — every four years, the world got a reminder of Soviet supremacy. If the Reds could dominate the medal board and occupy half of Europe, they were a superpower, even if millions of people were starving at home.</p>

<blockquote>Putin ripped off his clothes and tore Agent Moscow 2094’s blouse, but not before the camera hidden in her button captured him in full frontal nudity, documenting that Vladimir Putin was a woman.</blockquote>

<p>Pence returned to reading.</p>

<p><q>Subject Putin ordered the aide to kill Agent Moscow 2094, but Agent Moscow 2094 grabbed a mace off the wall, knocked Putin and his aide unconscious, fled the Museum of the History of Corporal Punishment and went directly to the American safehouse on REDACTED to transmit this report.</q></p>

<p>Pence knew the dossier was a bombshell that could stop Putin in his tracks. So he sent the Russian president a second email: <q>I know your secret. So if you move against another Cabinet member, I will not only tell the world, but I will also tell Margitta Herstellung.</p>

<p>Margitta Herstellung. Silver medalist in the bantamweight division at the 1972 Olympics.</p>

<p><q>Putin will know exactly who I mean,</q> Pence said. <q>The real woman who should be wearing that gold.</q></p>

<p>Pence hit <q>send.</q> Russia’s President had been neutralized. Donald Trump’s days as President were numbered.</p>

<p><q>Great work, sir,</q> Wilhelm said.</p>

<p><q>Thank you, Wilhelm,</q> Pence said. <q>Now, can you get someone to fix my computer? I do need to get back to the important search I had started.</q></p>

<a href="{{response.app.url_root}}chapter/14/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 14</div> 
    <div class="up-next-details">John McCain can hold a grudge</div>
    {% include 'includes/satire.html' %}
</div>
</a>