<h1>Call him ‘President Pence’</h1>

<p class="date">Friday, June 23, 2017</p>

<p class="dropcap">As Donald Trump touched down at Palm Beach International Airport aboard Air Force One on his way to Mar-a-Lago, Mike Pence pushed the coup beyond the point of no return with phone calls to Senate President Pro Tem Orren Hatch and House Speaker Paul Ryan.</p>

<p>Refusing explanations, he told each man that he would discuss a matter of grave national interest in the Senate press briefing room in 10 minutes. They needed to come in person, Pence said, plus they needed to keep the meeting confidential for the moment.</p>

<p>Then, Pence surprised Jeff Mason, president of the White House Correspondents Association, with a third phone call.</p>

<p><q>Mr. Vice President, what can I do for you?</q> Mason asked.</p>

<p><q>Jeff, I need you to assemble TV and print media in the Senate briefing room in 10 minutes. I need a live hookup,</q> Pence said.</p>

<p>Well aware that the media needed to know that he wasn’t suckering them into covering, say, a Trump press release about building a wall and having Mexico pay for it, Pence added, <q>Jeff, you have my solemn word that what I have to say will be international news.</q></p>

    {% include 'includes/ad02.html' %}

<p class="dropcap">Until he joined the Trump administration, Pence had enjoyed a reputation for straight-shooting with the press. In fact, in selecting Pence as his running mate, Trump had somehow overlooked Pence’s career of defending the work of reporters. Pence got little credit outside the press center — and Trump’s red meat eaters would likely hate him for it — but Pence was the House member who championed the federal shield law to protect reporters from revealing their sources. He said he was moved to protect the work of journalists after New York Times reporter Judith Miller went to jail to protect the identities of Bush Administration officials who were using Miller and other reporters to discredit Joseph Wilson, the husband of a then-secret CIA operative whose fact-finding trip to Africa ended up undermining one of Bush’s pillars for going to war against Saddam Hussein.</p>

<blockquote><q>Just tell him to be prepared for the the first question. And tell Acosta to reread the Constitution all the way to the end.</q></blockquote>

<p>One day, Pence was surely aware, that shield law might protect a journalist from naming him. This wasn’t merely a matter of Mike Pence defending the freedom of the press. This was basic political self-interest.</p>

<p><q>Our founders did not put the freedom of the press in the First Amendment because they got good press,</q> Pence said at the time.</p>

<p>Now, with Mason skeptical, he pulled out the trump card: <q>How about this, Jeff? The first question goes to Jim Acosta, from CNN.</q></p>

<p><q>Acosta, sir?</q> Mason said. <q>The President hates Jim Acosta.</q></p>

<p>Mason couldn’t see it, but Pence was smiling. Then he offered Mason the slightest hint of what was to come.</p>

<p><q>For now, indeed, the President does hate Jim. Just tell him to be prepared for the the first question. And, Jeff, tell Acosta to reread the Constitution all the way to the end.</q></p>

<p>Pence hung up and made a final call, this one to Sen. John McCain.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/14-mccain.png" alt="A cartoon drawing of a Senator John McCain">
</div>

<p><q>Mr. Vice President, what can I do for you?</q> McCain asked.</p>

<p><q>I hope I’m not interrupting you,</q> Pence responded, unaware that McCain had already settled into his Friday night routine: He had dimmed the lights, put on his favorite John Philip Sousa record, <q>On the Wings of Lightning,</q> poured himself a Red Bull and warm milk and was digging into a nightly rereading of the Pentagon Papers.</p>

<p><q>No, no, sir,</q> McCain said. <q>Always happy to take your call, sir.</q></p>

<p><q>John, I need a favor,</q> Pence said.</p>

<p><q>Anything for you, sir.</q></p>

<p><q>Are you aware of the 25th Amendm—,</q> Pence started, but McCain cut him off.</p>

<p><q>I’m in, sir,</q> the senator said. <q>What do you need?</q></p>

<p><q>What do you mean, ’I’m in’? Just like that?</q></p>

<p><q>Look, Mr. Vice President. The guy is insane,</q> McCain said. <q>I’m in. Just tell me what you need.</q></p>

<p><q>John, this is very serious business. Don’t you want to think about it? I mean, a man with your rep—</q></p>

<p>McCain cut him off again.</p>

<p><q>Think about it? What do you think I have been thinking about pretty much non-stop since Trump said, ’I like people who weren’t captured’? Five and a half years of torture — they broke both my arms at least four times! — so that Donald Trump can get a laugh line?</q></p>

<p>Indeed, Pence thought, if McCain’s shoelaces so much as loosen during the day, he needs two Senate pages to help. But Trump is the one who got elected President, no doubt a bitter irony for the senator from Arizona.</p>

<p><q>So, yeah,</q> McCain continued. <q>Your 25th Amendment move is a good idea. If you’re calling me, you already have the Cabinet in line. And if you’ve done that, you obviously have some friends in low places, too. I’ll await your next call.</q></p>

<br>
<hr class="fancy">

<p class="dropcap">At the entrance to the Senate briefing room, Pence handed Hatch and Ryan letters in sealed <q>Office of the Vice President of the United States</q> envelopes. Then he strode to the podium.</p>

<p><q>My fellow Americans,</q> Pence began, amid a blitz of clicking cameras. <q>I have just handed Speaker Ryan and Sen. Hatch, who is president pro tempore of the Senate, letters signed by myself and a majority of the members of the Cabinet declaring President Trump to be unable to carry out his duties as President of the United States owing to mental instability.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/14-pence.png" alt="A cartoon drawing of Mike Pence with the 25th Amendment">
</div>

<p><q>As such, under Section 4 of the 25th Amendment to the United States Constitution, I, Michael R. Pence, am now Acting President of the United States.</p>

<p><q>President Trump, who is en route to Mar-a-Lago, has been relieved of all duties.</q></p>

    {% include 'includes/ad03.html' %}

<p>The briefing room went silent. Every reporter except for Jim Acosta was typing <q>Sec 4 25 amendment</q> into his phone and reading the complicated legalese. The photographers stopped shooting. Pence continued:</p>

<p><q>I do not take this action lightly. Indeed, the 25th Amendment has never been invoked since it was ratified in the mid-1960s. But the President’s obvious instability, his paranoia, his narcissism, his apparent obstruction of justice and his rumored arms deal with North Korea have become a threat to our democracy, our free press, the independent judiciary and even the executive agencies overseen by the White House. His actions, including his siege of Austin to prevent the supposed secession of Texas, prove what I, and a majority of the Cabinet, have already determined: the President can no longer serve our nation because he is unable to separate fact from fiction.</p>

<p><q>As I make this announcement, all powers of the United States government are being transferred to my office and I will be moving into the White House after this press conference. Former President Trump will remain protected at Mar-a-Lago. Our military is on full alert to send a message to our enemies abroad that the United States is prepared to repel any attack or initiate pre-emptive measures to dispel the notion that there is a vacuum of leadership. The United States still has a commander-in-chief, and that is I.</q></p>

<p>Pence paused and looked at Jim Acosta.</p>

<p><q>Of course, I welcome your questions,</q> he said.</p>

<a href="{{response.app.url_root}}chapter/15/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 15</div> 
    <div class="up-next-details">Melania goes on a <q>few</q> dates</div>
    {% include 'includes/satire.html' %}
</div>
</a>