<h1>The First Lady kisses and tells and kisses some more</h1>

<p class="date">Friday, June 23, 2017</p>

<p class="dropcap">A few hundred miles and a universe away, Melania Trump was in New York getting ready for a date.</p>

<p><q>You seem happy, Missus,</q> the maid and original profile photographer Julia Montañez told the First Lady who might not be first very soon. <q>What is the secret?</q></p>

<p><q>Well, you know my xahsband and I ...,</q> Melania started, but tailed off.</p>

<p><q>Have you heard of Tinder?</q></p>

<p>Married for 13 years to a fellow Mexican who had sneaked across the border, worked in kitchens and at construction sites and slept in shifts at safe houses in Corona, Queens, Julia Montañez had to admit that, no, she had not heard of a dating site on which rich white twenty-somethings connect for guilt-free sex.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/15-melania-date.png" alt="A cartoon drawing of Melania Trump and three personal stylists">
</div>

<p><q>I thought you were just down in the White House,</q> Montañez said before withdrawing from Melania’s bedroom with the laundry, to be replaced by Melania’s personal manicurist, Luciana Santiago. Melania continued where she left off with Montañez as if Santiago was the same person.</p>

<p><q>No, I’m not in the White House — my xahsband seems to prefer his daughter to handle the so-called ‘women’s issues.’ So I’m here in the tower, left to my own. I’m meeting so many interesting men on Tinder.</q></p>

    {% include 'includes/ad02.html' %}

<p><q>Who are these men?</q> said Santiago.</p>

<p><q>It’s hard to keep track sometimes,</q> Melania said. <q>Let me get my computer.</q></p>

<p>Melania maintained a clandestine spreadsheet to keep track of her various desires and backstories of the new men in her life — a common practice among online daters, and one that Melania began after back-to-back dates with a man in Brooklyn and another in Harlem.</p>

<p>She opened the computer and searched for the file <q>Bone broth recipe,</q> a title she’d chosen because it represented the least likely file to be spotted by prying eyes.</p>

<p>She hit the down arrow. She kept pressing the down arrow.</p>

<blockquote><q>There was a guy named Steve from Long Island City. He kept saying, ‘It’s the new Brooklyn! It’s the new Brooklyn!’ I really had no idea what he was talking about!</q></blockquote>

<p>Finally, she got to the current crop: There was Luis from the Bronx, who had said he was 50, but when he showed up at the bar, he was actually 25.</p>

<p>“He lived on some god-forsaken place called Pelham Parkroad or something,</q> Melania explained with equal notes of exasperation and perspiration.</p>

<p>She arrowed down some more.</p>

<p><q>And there was a guy named Steve from Long Island City,</q> Melania continued. <q>He kept saying, ‘It’s the new Brooklyn! It’s the new Brooklyn!’ I really had no idea what he was talking about!</q></p>

<p class="dropcap">Santiago finished putting a coat of Rouge Louboutin on Melania’s fingernails and withdrew. Melania’s hairstylist, Alma Garcia, entered, not that Melania had ever stopped talking.</p>

<p><q>Then there’s Richard, the hedge fund manager,</q> Melania said. <q>He’s not bad looking, and we have some fun, but overall he’s as boring as reading the Bond Broker!</q></p>

<p>Alma Garcia was one of the few household servants who could say anything to Melania — a residual effect of Melania’s obsession with her own hair. The happier Garcia was, the better Melania looked.</p>

<p><q>I’m also dating that 52-year-old divorced guy in Brooklyn. He’s basically broke,</q> Melania said. <q>Takes me to these weird bars with nothing but beer and Gallo jug wines and bluegrass music in the back room.</q></p>

<p><q>Sounds like a loser,</q> said Garcia, whose own romantic life took a fortunate turn when she had the good luck to fall in love with a bodega worker who happened to be an American citizen. Their marriage prevented pretty much any executive order from Melania’s husband from affecting her.</p>

    {% include 'includes/ad03.html' %}

<p>Melania disagreed. Ben Lustig was not a loser, but he was definitely not the kind of man Melania had ever dated before. She knew that even before she’d met him, just from his profile. There had been six pictures, all of them featuring the bearded, graying Lustig either holding a plate of food, a meal he’d presumably just cooked, or a glass of some alcoholic beverage raised in some form of salute. The profile itself made little sense to Melania — it spoke of cycling to Bushwick and a place called <q>Windsor Terrace</q> — but she liked something about him.</p>

<blockquote><q>I don’t even know what this guy is talking about. ... But then, I decided, I didn’t care. What is adventure without the adventure?</q></blockquote>

<p>Garcia finished with Melania’s abundant tresses and was replaced by Lupe Gomez, Melania’s dresser, who held out a trademark Melania casual outfit: white jeans and a white blouse. Melania continued talking about Lustig as if no change in personnel had occurred.</p>

<p><q>I remember reading that profile twice,</q> she said. <q>I don’t even know what this guy is talking about. What is ‘Bushwick’? But then, I decided, I didn’t care. What is adventure without the adventure?</q></p>

<p>Gomez withdrew and Melania’s makeup artist, Gabrielle Sánchez entered. Melania kept talking.</p>

<p><q>But then I met him and there was a tingle from the start,</q> she said. <q>There were possibilities. I haven’t felt possibilities in so many years.</q></p>

<p>Sanchez left and was replaced by Isabella Bautista, who handled Melania’s jewelry. Bautista got a tiny glimpse of Melania’s attraction to Lustig — <q>He’s 52, so he’s confident and can be honest about who he is and what he wants</q> — before she, too, was replaced, this time by Melania’s driver, Jose Perez.</p>

<p><q>Where to tonight, Mrs. Trump?</q></p>

<p>Melania looked at her phone. <q>Sunny’s in Red Hook,</q> she read. <q>Do you know vhere dat iz?</q></p>

<p>Melania and Jose headed to the basement, where Perez kept the massive black Yukon Denali (that same truck big enough to put the entire EPA in the backseat and still have room left over for all of President Obama’s supposed job-killing regulations).</p>

<p><q>I’ll get you there, Mrs. Trump, no worries,</q> Perez said.</p>

<a href="{{response.app.url_root}}chapter/16/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 16</div> 
    <div class="up-next-details">Trump tweets while Pence meets the press</div>
    {% include 'includes/satire.html' %}
</div>
</a>
