<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Fiction | Coup! Ch. 16: President Pence meets the press",
        "url": "http://interactive.nydailynews.com/fiction/coup/chapter/16/",
        "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
        "dateCreated": "2017-06-15T05:00:00Z",
        "articleSection": "Interactive",
        "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
        "keywords": ["interactive","interactive fiction", "Melania Trump", "Donald Trump", "Mike Pence", "politics", "satire"]
    }
</script>

<h1>President Pence meets the press</h1>
{% include 'includes/social.html' %}

<p class="date">Friday, June 23, 2017</p>

<p class="dropcap">Mike Pence was no fool. He knew that commandeering presidential power would unleash hell. So, he carried in his pocket a copy of the official White House protocols for implementing Section 4 of the 25th Amendment to the Constitution, which exists solely to allow the vice president to take over when the President is unable — or unwilling — to cede power on his own.</p>

<p>Why was there even such a law? Perhaps the President has been kidnapped. Perhaps Air Force One has gone down and contact has been lost. Perhaps the brain of a hunky young President has been sprayed all over his gorgeous young wife’s pink Chanel suit in the back seat of an open limo — but he survives as a vegetable while the Soviets, seizing on the vacuum of power, move nuclear missiles into Cuba and into Kamchatka.</p>

<p>Or perhaps the President has simply gone mad.</p>

<p>The protocol called, first, for securing the White House:</p>

<p><q>Uniformed military personnel will surround all Executive branch employees, prevent them from continuing work and escort them through the west exit to the Eisenhower Executive Office Building. The Acting President shall submit a list of existing workers who can remain at their positions or new employees who can assume the positions.</q></p>

<p>Part II had to do with the location of the deposed President. If he was at the White House or Camp David, he was to be detained on site. If he was not in the White House or Camp David, the traveling security team was to isolate him with all deliberate speed <q>in a secured area.</q></p>

<p>In Trump’s case, that would be Mar-a-Lago.</p>

    {% include 'includes/ad02.html' %}

<p>Part III denied the deposed President the use of government assets, including all lines of communication, put transportation equipment, including Air Force One, at the disposal of the Acting President, and ordered the White House Military Office to assign a new emergency satchel (‘the football’) to the Acting President.</p>

<p>There were also many subsections about transportation (Air Force One, bullet-proof limos, and the like) and communication (namely that the deposed President doesn’t get any). So Pence knew where he stood when he gestured toward Jim Acosta of CNN, and said, simply, <q>First question.</q></p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/16-pence-press.png" alt="A cartoon drawing of Mike Pence with the White House Press Corps">
</div>

<p class="dropcap">Mr. Vice President...</q> Acosta started.</p>

<p><q>That’s Mr. Acting President, Jim. As I have said, I am in charge of the government here in Washington and have taken control of the levers of government across the nation and globe. Former President Trump remains in Mar-a-Lago, his private residence.</q></p>

<p><q>Mr. Acting President, the 25th Amendment requires a majority of the cabinet to sign on to this action,</q> Acosta started. <q>But the amendment would not seem to allow you and your co-conspirators...</q></p>

<p><q>Hold it there, Jim,</q> Pence said with confidence-building calm. <q>I reject your use of the term ‘conspirators,’ as there is nothing illegal or untoward about our action today. In the national interest, we, the officials who know Donald Trump best, have reclaimed power from a mentally unstable would-be dictator, and transferred it back to the people’s elected and appointed representatives, as specified in the Constitution.</q></p>

<p><q>As I was saying, sir?</q></p>

<p><q>Yes, Jim?</q></p>

<p><q>I reviewed the legislative history and the hearing transcripts from the 25th Amendment debate and it was very clear that the members of Congress did not want Section 4 invoked merely for policy disputes or to replace a President for making an unpopular decision.</q> </p>

<p><q>You have obviously done your homework, Jim,</q> Pence said, an aside that suddenly had the entire press corps looking with screwed-up eyes as the Trump-hated Acosta, of all people, had his star moment. <q>But this is not about any specific action by former President Trump. Instead, it’s about mental instability that makes him unable to preserve, protect and defend the Constitution of the United States.</q></p>

<blockquote><q>In the national interest, we, the officials who know Donald Trump best, have reclaimed power from a mentally unstable would-be dictator, and transferred it back to the people’s elected and appointed representatives, as specified in the Constitution.</q></blockquote>

<p>Close to 100 hands went up, each attached to a torso with a pair of lungs belching inchoate noise to gain Pence’s attention.</p>

    {% include 'includes/ad03.html' %}

<p><q>Sir, sir!</q> said Major Garrett of CBS News. <q>My understanding is that should Mr. Trump challenge your assessment of his inability to perform his duties, there will be a considerable battle in the Congress. Democratic Minority Leader Schumer has already announced a press conference outside his Brooklyn apartment building where sources indicate he will pledge his conditional support...</q></p>

<p><q>Conditional on what?</q></p>

<p><q>He is demanding a federal feasibility study of a bike lane on Connecticut Avenue,</q> Garrett explained.</p>

<p><q>This is not a negotiation, and certainly not one through the media,</q> Pence said. <q>I’m well aware of the good senator’s commitment to bike lanes, but we are talking about the mental stability of the President of the United States.</q></p>

<p><q>Mr. Acting President, April Ryan, American Urban Radio Networks. Are you aware that President Trump is live-tweeting about this press conference from his personal Android phone and has already called you ‘a traitor,’ ‘a disgrace’ and ‘sick,’ and that he’s used the term ‘sad’ and typed in all caps that you have no intention of making America great again?</q></p>

<p><q>I am well aware that the former President is active on Twitter, yes, but I would remind —</q></p>

<p>A commotion among the press interrupted Pence.</p>

<p><q>Mr. Acting President,</q> shouted Glenn Thrush of the New York Times, <q>he’s now tweeting that you have a small penis.</q></p>

<p>The room fell into stunned silence.</p>

<p><q>Obviously and tragically, these are the ravings of a madman,</q> Pence said, shaking his head sadly. <q>So, I have a country to run.</q></p>

<a href="{{response.app.url_root}}chapter/17/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 17</div> 
    <div class="up-next-details">Twitter &amp; the nuclear football</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>