<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Fiction | Coup! Ch. 16: President Pence meets the press",
        "url": "http://interactive.nydailynews.com/fiction/coup/chapter/17/",
        "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
        "dateCreated": "2017-06-15T05:00:00Z",
        "articleSection": "Interactive",
        "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
        "keywords": ["interactive","interactive fiction", "Melania Trump", "Donald Trump", "Mike Pence", "politics", "satire"]
    }
</script>

<h1>Ex-President Trump has the nuclear football!</h1>
{% include 'includes/social.html' %}

<p class="date">Friday, June 23, 2017</p>

<p class="dropcap">Kellyanne Conway happened to be watching CNN when Pence started his announcement. The moment he said <q>president pro tempore of the Senate</q> and <q>a letter signed by myself and a majority of the members of the cabinet,</q> she rushed to the bedroom where the former leader of the free world was napping.</p>

<p>Conway was no constitutional scholar, but the mention of the majority of the Cabinet triggered a memory in her: Specifically, the second season of the Fox drama <q>24,</q> when President David Palmer is relieved of his office by his own vice president because he failed to retaliate against three Islamic nations after a nuclear bomb went off in Arizona. </p>

<p>Palmer hesitated to act because superspy Jack Bauer had evidence that would clear the Muslim world and connect the bombing to a domestic terrorist.</p>

<p>But Bauer couldn't be reached — he was being tortured by henchmen working for that very terrorist in the basement of a Los Angeles hospital, and could not get his evidence to the President. It was very gripping television, Conway thought, and that was even before it jumped from fiction to reality. On the show, the vice president convened a secret Cabinet meeting, got his majority, moved against the President, and bombed the three innocent Muslim countries before the indestructible Bauer emerged to set everything mostly right again.</p>

<p>Conway woke sleeping former President Donald Trump.</p>

    {% include 'includes/ad02.html' %}

<p><q>Mr. President, I think you should see this,</q> she said, snapping on Trump's television, already turned to Fox. Pence had just begun the  I-do-not-take-this-action-lightly part of his speech.</p>

<p>Saying nothing, Trump grabbed for his Android phone.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/17-kellyanne.png" alt="A cartoon drawing of Kellyanne Conway trying to take Trump's mobile phone away">
</div>

<p><q>No, Mr. President,</q> Conway said. <q>Let's wait a second before tweeting. If he's really doing what we think he's doing...</q></p>

<p><q>Nonsense, Kellyanne, I need to let my 30 million followers know what's going on,</q> Trump said. He started typing:<!--  <q>What you see now on TV is a power-hungary traitor who doesn't care about the American people who gave me the largest erection win in history.</q> --></p>

<div style="text-align: center;"><img src="{{response.app.url_root}}static/img/17-tweet-1.png" alt="An image of a tweet that says What you see now on TV is a power-hungary traitor who doesn't care about the American people who gave me the largest erection win in history."></div>

<p>Trump hit <q>tweet</q> and off it went.</p>

<p><q>OK, Mr. President, I know you are working quickly, but can you please at least try to limit the typos,</q> Conway said.</p>

<p><q>Fine, Kellyanne, but my next one is a doozie,</q> he said before posting:<!--  <q>@VP Pence is a loser who could never lead a movement like mine (306) and is obviously working w- Hillary. Lock her up! And then lock him up!</q> --></p>

<div style="text-align: center;"><img src="{{response.app.url_root}}static/img/17-tweet-2.png" alt="An image of a tweet that says VP Pence is a loser who could never lead a movement like mine (306) and is obviously working w- Hillary. Lock her up! And then lock him up!"></div>

<p><q>Mr. President, this isn't helping.</q></p>

<p><q>Hold on a second, Kellyanne, I had actually been in the middle of another tweet when I dozed off. Let me just grab it out of my drafts folder and send it.</q></p>

<p>Trump pushed <q>tweet</q> on this: <!-- <q>I will not fund hi-speed rail in Calif. until Gov. Moonbeam tells me why $67B is better than more highways. Fix traffic first! Cancel order!</q> --></p>

<div style="text-align: center;"><img src="{{response.app.url_root}}static/img/17-tweet-3.png" alt="An image of a tweet that says I will not fund hi-speed rail in Calif. until Gov. Moonbeam tells me why $67B is better than more highways. Fix traffic first! Cancel order!"></div>

<p><q>Mr. President,</q> Conway beseeched. <q>Can you please at least stay on message and tell your followers to do something about what Mike Pence is doing?</q></p>

<p><q>Very good idea, Kellyanne,</q> Trump said, tweeting, <!-- <q>Im no fan of protest, but all Americans must #resistpence now. No celebs. Celebs hurt cause. Get in street and #resistpence. MAGA-Again!</q> --></p>

<div style="text-align: center;"><img src="{{response.app.url_root}}static/img/17-tweet-4.png" alt="An image of a tweet that says I'm no fan of protest, but all Americans must #resistpence now. No celebs. Celebs hurt cause. Get in street and #resistpence. MAGA-Again!"></div>

<p>Trump picked up the phone. He loved the phones at the White House and he especially loved the hotline that had been installed at Mar-a-Lago. All he had to do was pick it up and a voice came on the line — at any hour of the day, and you better believe that Trump, who required no sleep, had used it all day and night — and said, <q>Yes, Mr. President?</q></p>

<p>But now the line was dead. No dial tone. No cheery aide voice. Trump grabbed his cellphone, touched the icon to call up his list of favorites and used his short, doughy index finger to find someone to call.</p>

<p><q>Alex Jones — work,</q> Trump muttered. <q>No.</q></p>

<p><q>Chief of Staff RP — office,</q> Trump saw. <q>No.</q></p>

<p><q>Melania — yoga studio,</q> Trump muttered. <q>No.</q></p>

<p><q>KFC delivery,</q> he saw. <q>Not right now.</q></p>

<p><q>Ah, here it is — SB, office.</q> Trump pressed the button to call Steve Bannon at his White House desk. The phone rang — or it sounded like it was ringing — but no one answered. Eventually, the phone switched to that digital three-tone. </p>

<p><q>Kellyanne,</q> Trump wailed, <q>I can't reach the White House. I can't reach Steve. Steve will know what to do.</q></p>

<p class="dropcap">Trump hadn't been President very long, but he was well aware of the awesome power of the presidency. People stood up the second he entered a room. He always had planes and cars ready to take him anywhere. He could even launch a nuclear attack without having to get up from the dinner table. Not that he would do that, of course, not that he would even think...</p>

<p><q>Hey, Kellyanne, get me that guy with the football,</q> Trump said.</p>

<p>The nuclear football is the common name for the President's emergency satchel or the so-called black box that is toted by a service member who is always within several feet of the president. At Mar-a-Lago, the holder of the football automatically becomes the star of the night, with paying members posing for Instagram-perfect selfies with the uniformed aide.</p>

<p><q>Here I am with the #nuclearfootball at Mar-a-Lago — don't worry, I won't use it...yet!</q> posted PalmBeachDoyenne27 during Trump's very first visit to the club as President.</p>

    {% include 'includes/ad03.html' %}

<p>One guest, Richard DeAgazio, was even on hand on that fabled night when the North Koreans decided to conduct a missile test, interrupting Trump's dinner with Japanese Prime Minister Shinzo Abe. DeAgazio not only posted pictures of Abe and Trump conducting international business at their dinner table, he also posted pictures of the football and its carrier that night, <q>Rick.</q></p>

<p>Trump needed to get Rick into his bedroom immediately. He picked up the phone again — still dead. So he grabbed his Mar-a-Lago bathrobe — the one in which he definitely was NOT tweeting when he was in the White House, which did not, to the President's chagrin, supply bathrobes! — and ducked into the hallway. Sure enough, a uniformed aide stood there, ramrod straight, with the black leather satchel bound to his wrist.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/17-football.png" alt="A cartoon drawing of Trump with a uniformed aide with a black bag bound to his wrist">
</div>

<p><q>Give me the football,</q> Trump ordered.</p>

<p><q>Yes, sir!</q> </p>

<p><q>Let's open this thing up,</q> Trump said after the military aide had unclipped the handcuff binding him to the briefcase. <q>Wait! Hold on a second. I have an idea.</q></p>

<p>Whatever opinion Americans had of their former President Donald J. Trump, they could be united in the knowledge that he was the most savvy media figure since Edward R. Murrow. For a split second, Trump almost forgot himself as he reached for the emergency satchel that could restore his presidency. He almost forgot to record the historic moment for posterity (his).</p>

<p><q>This is President Trump recording live from the command center in Mar-a-Lago, the best club of its kind in the world,</q> Trump began, posting directly to Twitter, using its live Periscope recording feature. <q>This coup by traitorous Mike Pence will not stand and, as such, I have ordered the military to open the President's emergency satchel, which, I believe, contains information I need to restore my rightful place as elected President of the United States, having won 306 electoral votes on Nov. 8.</q></p>

<p>Trump double-tapped and the camera was now facing forward. </p>

<p><q>Officer,</q> Trump narrated. <q>Can you open the satchel, please? Wow, this is really a huge historic moment.</q></p>

<blockquote>There are four main items inside the football: an index card with nuclear launch codes; the book containing military strategies; a folder containing a list of secure sites where the President can be taken; and instructions on how to use the Emergency Alert System.</blockquote>

<p>The officer did as ordered. For all Trump's hyperbole, it was, indeed, a historic moment. The aluminum Zero Halliburton briefcase inside the recognizable leather pouch — a command-and-control device dating back to the Eisenhower Administration — had never actually been opened. Not during the Korean War, not during the Cuban Missile Crisis, not after President Kennedy was killed, not during Vietnam, not even after 9/11 when President Bush was said to have at least briefly considered Vice President Dick Cheney's recommendation for a tactical nuclear strike against al Qaeda positions in Afghanistan.</p>

<p>There are four main items inside the football: an index card with nuclear launch codes; the <q>black book</q> containing various military strategies for retaliation if the U.S. has been attacked; a folder containing a list of secure sites where the President can be taken; and, most important to Trump, a sheath of papers instructing the president on how to use the Emergency Alert System.</p>

<p>Trump was still live-tweeting when he told the aide to use the football's satellite hookup to contact the National Military Command Center. Sure enough, the call went through.</p>

    {% include 'includes/ad04.html' %}

<p><q>This is the President,</q> Trump said. <q>I want to mobilize the armed forces against an internal attack on our nation.</q></p>

<p>Though such a scenario had never played out in America's long history of nuclear near-misses, the command center operator had been repeatedly drilled on protocol.</p>

<p><q>Do you have the biscuit, Mr. President?</q></p>

<p><q>I do,</q> Trump said, grabbing the credit-card-sized plastic token.</p>

<p><q>Can you snap it in two, please, sir?</q></p>

<p>Trump cracked open the card, revealing a column of random numbers — random, that is, to all but the President of the United States, who is told seconds after he is sworn in that the correct verification code to authorize any nuclear launch is the third set in the 12 columns of numerals.</p>

<p>The third set. It's the only thing that the President of the United States must commit to memory because it can't be written down lest it fall into the wrong hands. If the President reads the correct code to the command center operator, he can order any attack he wants. No one can stop him.</p>

<p><q>Can you read me your authentication code, Mr. President?</q> the operator asked.</p>

<p><q>Yes, I will do that right now,</q> Trump said, before double-tapping the Twitter screen to retrain the camera on himself.</p>

<p><q>This is a huge moment, America!</q> he announced. <q>The moment when I take back power from traitorous, low-testosterone, Viagra-popping coward Mike Pence. And you are all here with me!</q></p>

<p>Trump held up the card so that only the back of it was visible to his 30 million Twitter followers. He remembered to read only the third set of numbers.</p>

<p><q>46-22-18.</q> </p>

<p><q>Let me read that back to you, sir,</q> the operator said. <q>46-22-18. Is that correct?</q></p>

<p><q>Absolutely.</q></p>

<p><q>I am sorry, but whoever you are, you are not the President of the United States. God bless America.</q> </p>

<p>The line went dead. So did Trump’s live stream — but that was by choice, lest the nation witness more humiliation.</p>

<p><q>Damn it, Pence changed the codes already!</q> Trump thundered.</p>

<a href="{{response.app.url_root}}chapter/18/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 18</div> 
    <div class="up-next-details">The media has the opposite of a slow news day</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>