<h1>A fast-moving, late-breaking story</h1>

<p class="date">Saturday, June 24, 2017</p>

<p class="dropcap">The New York Times went with a single headline — <q>Pence takes over</q> — with a two-deck subhead, <q>Vice President, citing President’s ‘mental instability,’ invokes Constitution to assume presidential power.</q></p>

<p>The main story was sober and profoundly historic, as if the editors knew that every single word would one day be displayed at the National Archives, a few feet away from the Constitution itself. This was history. This was time to trot out the full bloat of the Times’ ponderous, clause-heavy stylebook.</p>
<br>
<hr class="fancy">
<em><p>By Davidson Xavier Throckmorton III<br>
In a stunning and unprecedented exercise of authority vested in a Vice President by the United States Constitution, Michael R. Pence assumed the full power of the White House by asserting that <q>mental instability</q> disqualifies Donald J. Trump from serving as President of the United States of America. .</p>

<p>The coverage included an op-ed by constitutional scholar John Feerick (a drafter of the 25th Amendment back in the 1960s!), a column by Nicholas Kristof that argued Pence was within his rights even if there was no 25th Amendment, an explainer about the logistics and history of the amendment, and a profundo-voiced editorial supporting Pence and decrying the events that exposed President Trump as a madman, <q>which we said, in as many words, days before the election and in virtually every editorial since.</q></p>

<p>This being the New York Times and this being the most self-referential period in American journalistic history, the Paper of Record could not help but  feature a <q>media analysis,</q> too.</p></em>
<br>
<hr class="fancy">
<em><p>By Jim Rutenberg<br>
Was it a <q>coup,</q> a <q>revolution</q> or a <q>medical intervention</q>?</p>

<p>Media outlets from CNN to Fox News to alt-right websites struggled to explain and define the day’s events — and each broadcaster’s opinion could be gleaned from its choice of words.</p>

<p><q>What are we seeing over there, Jim? Is this a coup?</q> CNN anchor Jake Tapper asked White House reporter Jim Acosta seconds after Pence announced that he had assumed power under the 25th Amendment to the Constitution.</p>

<p><q>For lack of a term — because there is no history to go on here, Jake — I would call this a ‘constitutional transfer of power,’</q> Acosta replied. <q>In unstable democracies, a traditional coup involves one part of government illegally overthrowing another part, but our Constitution allows for this.</q></p></em>
<br>
<hr class="fancy">
<p>Tapper’s raised eyebrow suggested that he was grasping for the same level of understanding as his counterparts across the dial and world wide web.</p>

<p><q>The Pence Revolution!</q> heralded the chryon on all Fox News coverage, the exclamation mark not revealing any bias in coverage except the network’s inherent bias towards exploiting conflict.</p>

<p><q>It’s a coup!</q> headlined the coverage on Breitbart, no doubt  influenced by Trump’s deposed strategist and former Breitbart executive chairman Steve Bannon, who had been escorted from the West Wing of the White House under armed guard.</p>

    {% include 'includes/ad02.html' %}

<p>Cable networks struggled to book on-air talent under impossible deadlines, leading to some unfortunate mistakes. Brian Williams on MSNBC conducted an in-depth interview with Dr. Lawrence Gardner of New York University, who attested to former President Trump’s deeply troubled mental state. But hours later, Williams apologized after the blog RedState revealed that Gardner was a hematologist.</p>

<p>The Times’s print edition struggled to keep up with fast-moving events posted on the Times’ website.</p>
<br>
<hr class="fancy">
<p>UPDATED, 12:50 a.m. — Stripped of presidential power by his vice president and a majority of the Cabinet, Donald J. Trump has continued to broadcast his outrage on social media — up to 20 tweets per half-hour.</p>

<p>Using highly charged words such as <q>coup,</q> <q>treason</q> and <q>coward,</q> the disempowered president railed against Acting President Pence and his declaration of <q>mental instability.</q></p>

<p><q>This is nothing less than treason and I will make sure @vp Pence is tried and executed. He is a disgrace like Hillary, who I beat with 306,</q> the apparently ex-president posted on the @realdonaldtrump account on Twitter, referencing Pence’s former title and Twitter handle, though Pence now controls the @potus Twitter account from inside the White House.</p>

<p>That account was silent in the hours after Pence’s announcement.</p>

<p><q>The president will use conventional means to keep the American people informed of his actions,</q> said White House spokesman Fred Wilhelm.</p>
<br>
<hr class="fancy">
<p>UPDATED, 1:15 a.m. — Stripped of presidential power by his vice president and a majority of the Cabinet, Donald J. Trump vowed to return to power using the very mechanism  employed against  him: the 25th Amendment.</p>

<p>In a video posted on Mr. Trump’s personal Twitter account, Mr. Trump said he would petition the leaders of the Senate and House of Representatives that the Acting President must stand down because, as the amendment reads, <q>no inability exists.</q></p>

<p><q>Mike Pence is a traitor and a coward and a sad, sick man with a huge hunger for power that is obviously in an indirect proportion to something else,</q> Mr. Trump said in a two-minute-and-two-second video, the maximum permitted by Twitter.</p>

<p>The Trump on the video alternated between blustering recognizable to any observer of his five-month administration and a kind of desperate sputtering that seemed to confirm the very diagnosis leveled at him by the Acting President.</p>

<p><q>I am not insane!</q> the former president railed. <q>What Mike Pence has done, that’s insane. And sad. And sick. And small. Small everywhere. Where it counts, too.</q></p>

<p>Mr. Trump also lashed out at several usual targets.</p>

<p><q>The failing New York Times should also stop calling me ‘apparently ex-president,’ Trump added. <q>I was elected with 306 electoral votes! A landslide. It’s very sad when they ignore the facts but what can you expect from fake news? I certainly expect that Alec Baldwin will make great sport of my situation this weekend on ‘Saturday Night Live,’ which, of course, has not been funny since Bill Murray left.</q></p>
<br>
<hr class="fancy">
<p>UPDATED, 1:26 a.m. — Twitter announced that it was reviewing whether former President Trump violated the social network’s terms of service by referring in posts to Acting President Pence’s penis size.</p>

<p>Trump has posted 16 videos and 114 tweets since 6 p.m. Friday. Twitter said Mr. Trump’s <q>inflammatory language</q> appeared to violate policies barring <q>behavior that crosses the line into abuse, including behavior that harasses, intimidates, or uses fear to silence another user’s voice.</q></p>

<p>So far, Mr. Trump has called only for <q>resistance</q> to Mr. Pence’s action. Calling for Mr. Pence’s overthrow could run afoul of a Twitter prohibition against <q>threats of violence.</q></p>

    {% include 'includes/ad03.html' %}

<p>If the social media giant deactivates Mr. Trump’s ability to tweet, the former president could be hobbled in fighting what he has called a <q>coup</q> by Acting President Pence. Mr. Trump has 30 million followers on Twitter. </p>

<p>White House officials have prevented Mr. Trump from using any of the government’s communication tools.</p>
<br>
<hr class="fancy">
<p>UPDATED, 2:06 a.m. — In his first official action as Acting President, Michael R. Pence ordered Russian President Vladimir Putin in a telephone call  to withdraw Russian ships that had been openly spying on the United States during the Trump administration, the White House reported.</p>

<p><q>Mr. Putin needs to know that the American people are hostile to Russian interference in our affairs,</q> a senior Pence aide said.</p>

<p>Mr. Pence met with congressional leaders, including an equal number of Democratic and Republican lawmakers, and phoned former Secretary of State Hillary Clinton, who lost the presidential election to Mr. Trump and has remained a lightning rod for Mr. Trump’s supporters.</p>

<p>Pence is considering whether to ask Clinton to join the new administration, his aide said.</p>

<p>Taken together, the moves seemed designed to calm fears about the transfer of power and the unity of government — and simultaneously enrage the deposed president, who immediately tweeted:</p>

<p><q>Russia not spying but assisting in war on terror! Hillary is a loser (I got 306!) who should be in jail, not Cabinet. Pence = small penis.</q></p>

<p>The 25th Amendment affords Mr. Trump four days to mount an effort to reclaim the presidency. </p>

<p><q>I will make major news tomorrow @realdonaldtrump,</q> the former president wrote. <q>It will be huge. Buy Twitter stock. Always treats me fairly. Make America Trump Again!</q></p>

<a href="{{response.app.url_root}}chapter/19/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 19</div> 
    <div class="up-next-details">A deposed President returns to D.C.</div>
    {% include 'includes/satire.html' %}
</div>
</a>