<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Fiction | Coup! Ch. 19: Donald Trump stars in ‘The Return to Power’",
        "url": "http://interactive.nydailynews.com/fiction/coup/chapter/19/",
        "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
        "dateCreated": "2017-06-15T05:00:00Z",
        "articleSection": "Interactive",
        "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
        "keywords": ["interactive","interactive fiction", "Melania Trump", "Donald Trump", "Mike Pence", "politics", "satire"]
    }
</script>

<h1>Donald Trump stars in ‘The Return to Power’</h1>
{% include 'includes/social.html' %}

<p class="date">Saturday, June 24, 2017</p>

<p class="dropcap">Six a.m. — the hour when Donald Trump wielded his Android as a weapon of war — was rapidly approaching, so Trump pushed himself into a sitting position and grabbed for the phone. Acting President Mike Pence — and perhaps the whole nation — knew what was coming: Under the 25th Amendment, a deposed President can reclaim the Oval Office by declaring that he is fit to serve — to hell with the vice president and Cabinet members branding him him off his rocker. First step: the deposed President must deliver letters to the speaker of the House and president pro tempore of the Senate stating that he suffers from no “inability” to do the job.</p>

<p>Pence dialed Sen. John McCain.</p>

<p><q>Yeah, I’m on Twitter, too, Mr. Acting President,</q> McCain said. <q>I’m guessing that Trump’s ‘huge announcement’ isn’t that he’s making shirts that say, ‘My Vice President overthrew me and all I got was this lousy t-shirt.’</q></p>

<p>As if on cue, America’s Twitter alert flashed.</p>

<!-- <p>Donald J. Trump Tweeted: <q>Buy now at donaldjtrump.com: ‘My vice president overthrew me and all I got was this lousy t-shirt.’ Just $10 w- pledge to back Trump. MATA.</q> --></p>

<div style="text-align: center;"><img src="{{response.app.url_root}}static/img/19-tweet-1.png" alt="An image of a tweet that says My vice president overthrew me and all I got was this lousy t-shirt.’ Just $10 w- pledge to back Trump. MATA."></div>

<p><q>Make America Trump Again?</q> McCain said.</p>

<p><q>Pledge?</q> Pence said. <q>My guess is —</q></p>

<p>Trump’s next alert silenced Pence mid-sentence.</p>

<!-- <p>Donald J. Trump Tweeted: "Departing soon from Mar-a-Lago on my classy private jet to return to DC for revenge on @vp Pence. Who is with me? 2nd Amendment people?</q></p> -->

<div style="text-align: center;"><img src="{{response.app.url_root}}static/img/19-tweet-2.png" alt="An image of a tweet that says Departing soon from Mar-a-Lago on my classy private jet to return to DC for revenge on @vp Pence. Who is with me? 2nd Amendment people"></div>

<p>A twinge of worry shot through Pence.</p>

<p><q>What do you think, John?</q> he asked.</p>

    {% include 'includes/ad02.html' %}

<p><q>Hang in there. I’ve been counting votes all morning and I think I can deliver 67. But that’s if Schumer delivers the Democratic caucus — and he said he wants a federal investigation into the safety of stretch limos.</q></p>

<p><q>Tell Schumer that President Pence will make stretch limos great again,</q> Pence said. <q>Just get me those votes!</q></p>

<br>
<hr class="fancy">
<p><q>The T-bird is ready, sir — Reagan National, I assume,</q> Trump’s longtime private pilot, John Dunkin, told the former President.</p>

<p><q>Yes, Steve,</q> Trump said. <q>But I want you to do something spectacular. On  approach to Washington, I want you make a big, grand circle over the city, my city — to hell with the FAA — so the people can see that their President is coming to save the day. You can do that, right, Bill? No looking all pussified like Bush and Katrina. I want the greatest  circle ever flown, loud and low, make the trees wave, scare the children so they’ll remember forever.</q></p>

<p><q>Will do, sir.</q></p>

<p><q>Make sure you tilt the plane sharp enough so everyone sees the 24-karat gold sink and toilet,</q> Trump added.</p>

<p><q>Will do, sir,</q> Dunkin said. <q>One thing does concern me, sir.</q></p>

<p>“What, no!” Trump sounded panicked. <q>Don’t tell me you forgot the KFC!</q> </p>

<p><q>No, sir, there’s a bucket of extra crispy, with a knife and fork, in the galley. I’m only concerned because Reagan National won’t give me landing clearance.</q></p>

<p><q>You bet they won’t,</q> Trump yelled. <q>Believe me, they know we’re coming.</q></p>

<br>
<hr class="fancy">
<p class="dropcap">CNN’s weekend anchor Victor Blackwell put his finger to his ear and interrupted an interview with Sen. Charles Schumer of New York.</p>

<p><q>Excuse me, Senator, I am sorry to interrupt your call for a mandate of at least eight tater tots in every federally financed school lunch —</q></p>

<p><q>Well, Victor, it’s because sometimes there are seven, sometimes there are nine, and it’s very confusing to the stud—</q> Schumer tried to butt in.</p>

<p><q>I understand that, sir, but I have breaking news: Former President Trump’s Boeing 757 has entered Washington airspace and made a broad, rooftop circle of the capital city. I go live to the big guns at CNN Center, where Jake Tapper is anchoring the coverage, Jake?</q></p>

<p><q>First, apologies to Sen. Schumer for cutting away from his tater-tots mandate, but this morning’s news is stunning: As you can see, former President Trump’s plane is making a wide sweep of Washington,</q> Tapper intoned on CNN. <q>Anderson, what do you make of that flight plan?</q></p>

<p><q>I’d say the former President is making a statement,</q> Anderson Cooper responded.</p>

<p>Meanwhile, on MSNBC, Rachel Maddow had a different take.</p>

<p><q>Brian,</q> she said to her colleague Brian Williams, <q>that’s not a flight plan over Washington, it’s an ‘F-you’ to Washington.</q></p>

<p><q>I have to agree, Rachel, that Donald Trump may be the first person to turn an airplane itself into a middle finger,</q> Williams said.</p>

<p>Fox News covered the flight in the manner that Iranian revolutionary TV covered Ayatollah Khomeini’s return from exile in 1979. <q>He’s back!</q> Sean Hannity practically screamed into the camera. <q>Our very short national nightmare is over!</q></p>

<blockquote><q>That’s not a flight plan over Washington, it’s an ‘F-you’ to Washington.</q></blockquote>

<p>Ultimately, fearing an air disaster, Pence allowed Trump Force One to land at Reagan National Airport, but the deposed President’s vision of Americans eager to kiss his super-long necktie did not match reality.</p>

<p>The runways and roadways were lined instead by soldiers.</p>

<p><q>Sir, the welcome does not appear to be friendly,</q> Dunkin said. <q>The military is not allowing your limo access to the plane.</q></p>

<p><q>But I have to get to the Capitol,</q> Trump said.</p>

<p><q>You’ll have to walk, sir,</q> Dunkin said.</p>

<p><q>Walk? The only ground my feet touch are a beautifully manicured fairway — I’m never in the rough! Jim, this is an outrage.”</p>

<p>But then the reality TV star inside Donald Trump flickered back to life.</p>

<p><q>Unless...</q></p>

<p class="dropcap">Trump picked up the Android and dialed CNN President Jeff Zucker.</p>

<p><q>Listen, fake news boy, it’s the President,</q> Trump said.</p>

<p><q>Who’s the fake news now, Mr. Trump?</q> Zucker said. <q>You are not, in fact, the President.</q></p>

<p><q>A matter of time, Zucker,</q> Trump barked.</p>

<p><q>In any event, how can failing CNN help you today? Are you having trouble with your cable? I believe the service number for Optimum in the Palm Beach area is 800-934—</q></p>

<p><q>I have Fios, Zucker. It’s the best. Very fast,</q> Trump boasted. <q>I’m going to buy the company and call it ‘Trumpios.’ But that’s not why I’m calling....</q></p>

<p>Trump then explained that he intended to walk from Reagan National to the Capitol and was offering to let Anderson Cooper tag along.</p>

<blockquote><q>It’s four miles from Reagan National to the Capitol. It’s hardly Mao’s brilliant retreat across 3,700 miles of China.</q></blockquote>

<p><q>You’ll have all the footage of what historians will someday call ‘The Long March,’</q> Trump proclaimed.</p>

<p><q>Sir, it’s four miles from Reagan National to the Capitol,</q> Zucker said. <q>It’s hardly Mao’s brilliant retreat across 3,700 miles of China.</q></p>

<p><q>China! We never win anymore,</q> Trump said. <q>But, OK, so maybe it’s not the Long March. It’s more like that Gandhi thing.</q></p>

<p><q>Are you going to make salt when you get to the Capitol, sir?</q> Zucker asked sarcastically. <q>Are you going to wear a loincloth along the way?</q></p>

<p><q>You’re such a bastard, Zucker. So dishonest,</q> Trump said. <q>But get a chyron ready: I’m calling it, ‘Trump: The Return to Power.’</q></p>

<p class="dropcap">A half-hour later, Anderson Cooper was indeed at the back of Trump’s 757, awaiting the former President’s exit. The CNN chyron read, <q>Trump: The Return to Power?</q></p>

<p><q>Dammit,</q> Trump said inside his plane. <q>Zucker really screwed me with that question mark. Note to self: always demand full creative control of punctuation. It’s all about the punctuation. Anyway, Lou, let’s go.</q></p>

    {% include 'includes/ad03.html' %}

<p><q>Sir, um, the airport is not providing a stairway for the exit,</q> Dunkin said. <q>You’ll have to blow the emergency slide.</q></p>

<p><q>Not exactly presidential, John,</q> Trump said.</p>

<p><q>No, sir. But despite 306 electoral votes and a clear win in the popular vote if you take out the illegal ballots, you’re not, technically, President.</q></p>

<p>A reflex came to life in the form of a vocal thunderclap: “You’re fired.”</p>

<p>Delight surged through Trump as he opened the back door and waved both arms, Nixon-style, to Cooper, waiting below with two camera crews. With the push of a button, the plane’s yellow evacuation slide exploded down to the tarmac. </p>

<p><q>I begin my return to power right now!</q> Trump hollered before leaping onto the sloping air mattress like a gigantic kid on an amusement park ride — all the while keeping a hand on his head to prevent his hair from lifting like a broken gull’s wing.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/19-trump.png" alt="A cartoon drawing of Donald Trump exiting his plane on an emergency slide">
</div>

<p>Propelled by momentum, Trump zoomed precariously to his feet, walked directly to the camera and pulled a pastel-colored envelope from his pocket. In the top left corner, Trump had crossed out the Mar-a-Lago return address and, instead, had scribbled, <q>President Donald Trump.</q> The letter was addressed to Sen. Hatch and Speaker Ryan.</p>

<p><q>We all know that Vice President Pence is a man of oversized ambitions and undersized genitals,</q> Trump began. <q>Starting right now, I am taking back our country and restoring to power a man of substantial cojones whose only ambition is to serve the people.</q></p>

<p>And then he started walking. Certainly, there had been previous footage of President Donald Trump perambulating. He did <q>walk-and-talks</q> with journalists along the West Colonnade, but really only from the Brady Briefing Room to the door of the Oval Office, a distance of roughly 140 feet. In photo ops at factories, Trump would have to walk at least half the assembly line to take credit for a supposedly new investment that was actually announced long before the election. And in a single 18-hole round of golf, Trump could walk a few yards from his golf cart three or four times per hole, plus about 20 feet per green, depending on how bad his putting was that day.</p>

<p>So he certainly could walk a little.</p>

<p>An airport worker had mercifully opened the northernmost gate, allowing Trump to bypass the terminals and save about a half-mile. He, Cooper and the TV crews exited onto Mount Vernon Parkway and started trekking  north.</p>

<a href="{{response.app.url_root}}chapter/20/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 20</div> 
    <div class="up-next-details">45’s long walk to rejection</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>