<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Fiction | Coup! Ch. 20: A sweaty man on the move",
        "url": "http://interactive.nydailynews.com/fiction/coup/chapter/20/",
        "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
        "dateCreated": "2017-06-15T05:00:00Z",
        "articleSection": "Interactive",
        "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
        "keywords": ["interactive","interactive fiction", "Melania Trump", "Donald Trump", "Mike Pence", "politics", "satire"]
    }
</script>

<h1>A sweaty man on the move</h1>
{% include 'includes/social.html' %}

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/20-trump-sweat.png" alt="A cartoon drawing of Donald Trump walking to the Capitol and sweating while being followed by the media">
</div>
<p class="date">Sunday, June 25, 2017</p>

<p class="dropcap">In Washington, D.C., June defies Eliot’s maxim: It is, by far, crueler than April.</p>

<p>The world may know America’s capital as an international city, but geographically, it is decidedly a Southern city, as sweltering as Charleston or Savannah. By May, the cherry blossoms have long since  dropped, having made their debut during the city’s two-week springtime in March. By May, temperatures could hit 90.</p>

<p>When Trump, Anderson Cooper and the TV crews reached the 14th Street Bridge, the former President’s shirt was soaked through and his gait had slowed. But he would not so much as loosen his thick red tie — which, by design, already fell to his crotch seam.</p>

<p>It was a horrible look for anyone, let alone a human Michelin Man, but, at this singular moment, Trump pressed each of his pores to exude sweat in hope of stamping the march as a journey along his own Via Dolorosa.   Soon, his heart thrilled to see that people were flocking to witness the spectacle. This was the realest of reality TV: A deposed President on a dramatic quest to reclaim the power granted to him by the people only months earlier (306!).</p>

<p>And the people were riveted.</p>

<blockquote><q>It is sort of like the white Bronco chase mixed with a moon landing mixed with 9/11 topped off with Bill Clinton saying ‘I did not have sex with that woman...’</blockquote>

<p><q>I’m being told, Anderson, that the footage you are broadcasting right now is the most-watched live broadcast in the history of television,</q> Jake Tapper told Cooper on-air.</p>

<p><q>Well, it is sort of like the white Bronco chase mixed with a moon landing mixed with 9/11 topped off with Bill Clinton saying ’I did not have sex with that woman,’</q> Cooper said.</p>

<p>And then he told Trump, whose chest rose like the feathers of a plumped rooster.</p>

<p><q>Why do you think that this is the most-watched live TV in history?</q> Cooper asked. <q>And I must remind you that we are on live TV, so perhaps you might refrain from commenting on the Acting President’s genitals.</q></p>

<p><q>The people are watching Trump because they want Trump,</q> Trump said. <q>They support Trump. They were there in record numbers on Election Day, with my record-breaking 306 electoral vote victory. They were there on Inauguration Day, when the crowds also broke records. And they will be  there for me today as I drop off this letter at the Capitol and move back into the White House and evict Mike Pence.</q></p>

    {% include 'includes/ad02.html' %}

<p>Cooper reminded Trump that under the 25th Amendment, Pence would remain in power for four days.</p>

<p><q>And,</q> Cooper added, <q>if Acting President Pence submits a letter stipulating that you are still unable to carry out your duties, the matter goes to Congress, which has 21 days to decide who is President. <q>Through that entire time, Mike Pence would be Acting President, living in the White House.</q></p>

<p>Less than a millisecond elapsed before Trump’s anti-humiliation reflex  sprung into action.</p>

<p><q>Actually, that’s better for me,</q> he said. <q>As you know, I have a hotel in town called the Trump International. It’s a beautiful hotel, the best, with classy rooms, great restaurants, though not with that Mexican chef who sued me very unfairly by the way, the Spa by Ivanka. It’s just a great hotel. And every sultan, sheik and foreign minister knows it.</q></p>

<p class="dropcap">Trump walked through L’Enfant Plaza and past the Housing and Urban Development headquarters (was that gunfire he heard from the roof?), before he turned north on 7th Street towards the Mall. He made a right and walked past the Air and Space Museum (<q>I love air and space —  when I become President again, you won’t be able to breathe either,</q> he said.) and past the Smithsonian’s American Indian museum (<q>Such great people. Supported me overwhelmingly over Hillary because only an Indian knows the difference between real bravery and fake people like ‘Pocahontas’ Warren</q>).</p>

<p>By the time Trump entered the Capitol grounds, thousands of jeering and cheering people  flanked the streets.</p>

<p><q>Go back to Russia, Trump,</q> one man yelled.</p>

<p><q>Make America Great Again, Mr. President,</q> another hollered.</p>

<p><q>Who has the small penis now, loser?</q> a third shouted.</p>

<p>The weirdest exchanges broke out among the 25th Amendment nerds.</p>

<p><q>Pence is a usurper!</q></p>

<p><q>Read the law! Read the law!</q> another person answered. <q>Pence has obviously studied Feerick and Katzenbach!</q></p>

<p><q>But Trump’s letter should end this all,</q> another declared. <q>Congress will have to take his side.</q></p>

<p>Approaching the Capitol security gate, Trump reached inside his suit  jacket to remove the letter that would make him President again.</p>

<p><q>Put your hands where I can see them, sir!</q> shouted the Capitol Police officer.</p>

<p>Trump did as told, saying graciously for the cameras,  <q>Officer, I’m Donald Trump, 45th President of the United States. I have a letter I must deliver to Sen. Hatch and Speaker Ryan.</q></p>

<p><q>Speaker Ryan? Please hold on.</q></p>

    {% include 'includes/ad03.html' %}

<p>The officer withdrew to his post, spoke into a phone, nodded repeatedly and  returned to the gate.</p>

<p><q>Speaker Ryan is in conference with Acting President Pence,</q> he told Trump in the polite-but-firm tone reserved for tourists. <q>He is unavailable. And I cannot accept the letter, which must be scanned for anthrax at the House delivery center at 160 D Street Northeast. It’s just a few minutes away, Mr. Trump.</q></p>

<blockquote><q>Officer, I’m Donald Trump, 45th President of the United States. I have a letter I must deliver to Sen. Hatch and Speaker Ryan.</q></blockquote>

<p>A 25th Amendment nerd jumped in.</p>

<p><q>Don’t fall for it!</q> he told Trump. <q>It’s a conspiracy! You have to hand the letter directly to Ryan and Hatch! This is the biggest scam since they covered up Roswell!</q></p>

<p><q>Thank you, citizen,</q> Trump said, turning back to the guard. <q>If I call Ryan’s office and someone comes down, can I hand the letter to that person?</q></p>

<p><q>You may, sir.</q></p>

<p>For a moment, Trump struggled to contact Ryan’s office, having removed the number from his favorites list in a fit of pique over the original Obamacare repeal-and-replace bill. Finally, he connected and a young aide came to the gate.</p>

<p><q>And you promise me you will hand this to Speaker Ryan?</q> Trump said.</p>

<p><q>I will, sir,</q> she said. <q>Like you, I also have taken an oath to defend the Constitution.</q></p>

<p>Trump repeated the process on the Senate side, trailed by Cooper and his crews.</p>

<p>It was now late afternoon. Trump was exhausted. Cooper was exhilarated. The camera crews were on overtime.</p>

<p><q>So, Anderson, want to go to the International?</q> Trump said. <q>I know I could use a massage at the Spa by Ivanka. You?</q></p>

<p>The pair hailed a cab and headed to 1100 Pennsylvania Avenue, a few blocks shy of the White House.</p>

<a href="{{response.app.url_root}}chapter/21/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 21</div> 
    <div class="up-next-details">The world puts Pence on notice</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>