<h1>President Pence is the Leader of the Free World</h1>
<div class="full-width">
    <img src="{{response.app.url_root}}static/img/21-pence.png" alt="A cartoon drawing of Mike Pence standing at his desk in the Oval Office">
</div>
<p class="date">Sunday, June 25, 2017</p>

<p class="dropcap">Former President Trump had just started his <q>Sweat March</q> to the Capitol when every phone in the White House Situation Room started ringing.</p>

<p><q>Sir, the Russians are moving ships back towards the Atlantic and Pacific coasts,</q> Defense Secretary Mattis told Acting President Pence.</p>

<p><q>Freakin’ Russian nihilists,</q> Pence responded. <q>Those people never met a democratic process they can’t let play out without interfering.</q></p>

<p><q>And the North Koreans —</q></p>

<p><q>Screw the North Koreans,</q> Pence interrupted. <q>They want to crash another missile in the Sea of Japan? My kid can do that. Seriously, why is anyone ever nervous about North Korea? Tell me something that matters.</q></p>

<p><q>Hamas, Egypt and Syria are making what could be seen as hostile movements along the Israeli border,</q> Mattis said.</p>

<p><q>That’s an easy call. Move the Eisenhower into the Mediterranean and park her next to Gaza City,</q> Pence ordered.</p>

<p><q>And if the Egyptians close the canal?</q></p>

<p><q>Get me el-Sisi on the phone,</q> Pence commanded. Within seconds, he was connected to the president of Egypt.</p>

<p><q>Abdel! It’s Mike Pence, the President of the United States,</q> Pence started.  <q>Yes, yes, thank you for asking. Karen is fine. How’s Entissar? You tell that bride of yours to make me some of that basbousa again. I just love that stuff.</q></p>

<p>Pence covered the phone and whispered to Mattis.</p>

<p><q>She’s his damn cousin, you know! And what that woman does to basbousa should land her in Gitmo. The cake itself is drier than the Kalahari, and then she puts so much lousy syrup on it that you think you’re at an IHOP.</q></p>

<p>Pence returned to the phone call.</p>

    {% include 'includes/ad02.html' %}

<p><q>Hey, listen, Abdel, you may have heard I’m dealing with a few things here at home and I’m going to send the Eisenhower through the Suez Canal in a couple of hours and I’d really like to have your cooperation on that. Uh-huh. Yes. Uh-huh. See, Abdel, I kind of expected you’d say that, so I’ll remind you that Egypt has about 1.5 billion reasons for letting that boat through the Ditch, if you catch my drift. Uh-huh. Sure. I understand Arab solidarity. Yes, and I understand that there are longstanding disputes in the region. But I need you to understand, Mr. President, that I’m a simple man with a very limited capacity for decision-making. So you should know that while I’m spending the next four days securing my presidency under our Constitution, I really don’t have time to debate the pros and cons of blowing up the Montaza Palace. I’ll probably only have time to weigh the pros, you know, what with time being such a limited resource and all. Excuse me, Mr. President.</q></p>

<blockquote><q>It’s such a nice palace. I’d hate to see something bad happen to it, you understand?</q></blockquote>

<p>This time, Pence did not cover the mouthpiece.</p>

<p><q>General Mattis, you do have the Montaza Palace targeted, correct?</q></p>

<p>Mattis played along.</p>

<p><q>As you requested, sir. The Carney is in range and has two Tomahawks locked and loaded in the VLS,</q> Mattis said.</p>

<p>Pence returned to his call.</p>

<p><q>Did you get that, Abdel? It’s such a nice palace. I’d hate to see something bad happen to it, you understand? Good. Now, when are you and Entissar coming to visit? You’re always welcome in the Lincoln Bedroom!</q></p>

<p>Pence hung up. <q>Moron. There’s nothing worse than a democracy that elects a religious fanatic. Now, General, give me the good news.</q></p>

<p><q>Well, sir, our allies in Europe seem to be on your side,</q> Mattis told the  Commander in Chief (Acting). <q>And everything in Africa appears unchanged: Millions of people are still dying of AIDS and tribal warfare, and virtually every nation is ruled by a totalitarian who is siphoning off natural resource riches for his own personal gain.</q></p>

<p><q>Whew, good,</q> Pence said. <q>I’d hate to have to alter decades of American policy right now.</q></p>
<a href="{{response.app.url_root}}chapter/22/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 22</div> 
    <div class="up-next-details">HED</div>
    {% include 'includes/satire.html' %}
</div>
</a>