<h1>A President perspires, a nation in turmoil</h1>

<p class="date">Monday, June 26, 2017</p>

<p class="dropcap">Deposed President Trump’s <q>Sweat March</q> provided the visuals for most of the media coverage on Sunday, but the dripping, corpulent ex-President was just delightful B-roll to illustrate the real story that was gripping the nation.</p>

<p><q>Showdown!</q> read the front page of the New York Daily News, with photos of Trump and Acting President Mike Pence staring each other down. Subheads told the whole story: <q>Trump: ‘I’m sane’</q>; <q>Pence: ‘He’s nuts’</q></p>

<p><q>SWEAT LODGE,</q> ran the headline in the New York Post, playing off the image of the perspiring president handing his constitutionally-mandated  letter to Ryan’s aide. The subhead teased: <q>Trump’s ‘secrete’ plan to discharge slimy Pence.</q></p>

<p>The New York Times devoted 16 pages to the crisis, including a main story that, in unprecedented fashion, triple-jumped from Page One to A16, A17 and A18.</p>

<p><q>TRUMP IN D.C. BUT RETURN TO POWER IS UNCERTAIN,</q> the headline read, in perfect passive Times style. <q>Pence, citing 25th Amendment, remains in office as he and Cabinet challenge Trump’s claim of sanity.</q></p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/22-pence-trump.png" alt="A cartoon drawing of Mike Pence and Donald Trump face to face">
</div>

<p>The 10,000-word story moved beyond the drama of the day to the coming power struggle, albeit with the pomposity and attention to detail that are so fashionable on Eighth Avenue: </p>

<ul>
<em><p>By Davidson Xavier Throckmorton III</p></em>
<p>In a whirlwind 24 hours that have clarified and yet somehow clouded the future of the Republic, America has witnessed the spectacle of an acting president living in the White House and a perspiring deposed president making a five-mile walk to the U.S. Capitol on an unseasonably warm day to reclaim power.</p>

<p>That man, Donald J. Trump, the 45th President of the United States, returned to Washington from his Mar-a-Lago estate to hand-deliver a letter to Congressional leaders testifying that he had never lost his capacity to serve and arguing that the other man, his former Vice President and now Acting President Mike Pence, had illegally usurped power on ungrounded charges of mental instability.</p>

<p><q>I, Donald J. Trump, certify that I am  totally, supremely, beautifully, hugely able to discharge the powers and duties of the office of President, despite what others say in an effort to compensate for other, perhaps anatomical, shortcomings,</q> Trump wrote on carnation pink Mar-a-Lago stationery. (See <q>This ’Executive Order’ Had a Woman’s Touch,</q> on page A14.)</p>

<p>Hours after disappearing from view, Trump emerged — oddly, with Anderson Cooper wearing a matching crested bathrobe — from the Spa by Ivanka inside his Trump International Hotel to announce plans for the coming days. (See <q>CNN’s Cooper Gets Scoop — and a Steambath,</q> on Page D1.)</p>

    {% include 'includes/ad02.html' %}

<p><q>Look, I have lawyers, the best lawyers, beautiful lawyers,</q> Trump began. <q>They’ve told me all about how small-where-it-counts Mike Pence gets to act as president for four days and how the Congress — another bunch of beauties — gets to decide everything. But I refuse to stand idly by while these lowlifes counteract the will of the American people, who only a few months ago gave me the greatest Electoral College victory in history and then filled Washington, D.C. with the greatest crowd to ever witness an inauguration.</q> (See <q>Trump’s Continuing Aversion to Truth Bolsters Pence’s ’Instability’ Case,</q> on Page A14.)</p>

<p>Trump said he had created a whitehouse.gov petition to demand government action immediately.</p>

<blockquote><q>Look, I have lawyers, the best lawyers, beautiful lawyers. They’ve told me all about how small-where-it-counts Mike Pence gets to act as president for four days and how the Congress — another bunch of beauties — gets to decide everything.</q></blockquote>

<p><q>The petition is called ’Small-Where-It-Counts Mike Pence Must Stand Down Immediately Because Robust Donald Trump is Fully Able to Discharge his Presidential, and Other, Duties,’</q> Trump said.</p>

<p>It is unclear whether the petition, which garnered a record 36 million signatures in two hours, will have any effect on Pence’s leadership, which the Acting President moved to solidify in the hours after Trump’s damp walk along the Potomac, the Tidal Basin and Independence Avenue on Saturday.</p>

<p>Pence mobilized troops in several regions of the globe and bombed the grounds around Egypt’s Montaza Palace; met with congressional leaders on a bill that would outlaw abortions in all cases; called for a national day of <q>prayer, unity and homophobia</q>; and issued an executive order that warned Russian President Vladimir Putin <q>not to try anything and he knows why.</q> (See <q>What Does Mike Pence Have on Vladimir Putin?</q> on Page A17.)</p>

<p>Pressed by reporters, Pence declined to reveal the location of the Trump Administration staffers who were detained in the minutes after he assumed power under the 25th Amendment. The amendment does not address personnel issues, but testimony during its passage in the 1960s clearly supported a complete block on the ability of the former president to exercise power — though witnesses offered no clues on how that might be accomplished. (See <q>Constitution Speaks Volumes, Then Whispers on the Details,</q> on Page A18.)</p>

<p>Citing White House protocols, Pence detained hundreds of West Wing employees — including senior officials Steve Bannon, Reince Priebus, Kellyanne Conway and Sean Spicer — who are believed to be under house arrest and monitored with the use of ankle bracelets.  (See, <q>Reporter’s Notebook: How I Tried to Contact Steve Bannon to Give Him Access to the Press He Hates,</q> on Page A20.)</p>

<p>Congressional leaders have promised a speedy end to the confrontation.</p>

    {% include 'includes/ad03.html' %}

<p><q>I don’t think we’ll need all 21 days to determine whether Mr. Trump is mentally stable,</q> said Senate Majority Leader Mitch McConnell, taking eight minutes to utter those 16 words. <q>But we are preparing proper hearings, including a medical examination and testimony from independent doctors.</q></p>

<p>Republican leaders said they believe Mr. Pence has lined up the two-thirds supermajority he needs to continue serving as president. At present, 430 House seats are filled. If all 193 Democrats support Mr. Pence, as expected, he would need only 95 Republicans to vote that Trump is unfit to serve. In the Senate, Pence needs to secure only 19  Republican votes. (See, <q>CNN’s John King Repurposes Election Night Maps for Mental Illness Battle,</q> on Page D6.)</p>

<p><q>This is really an open-and-shut case,</q> said Sen. Charles Schumer (D-New York). <q>I’d like to vote as early as Tuesday, so we can get back to the people’s business, specifically, my bill that would finally regulate laser pointers, which are a scourge to airline pilots everywhere.</q> (See, <q>For Schumer, All Politics is Local Even as World’s Eyes are on White House,</q> on Page A16.)</p>

<p>But not everyone on the Hill agreed. House Intelligence Committee Chairman Devin Nunes, citing a secret source, said he had information that could exonerate Mr. Trump and reveal Mr. Pence’s true motivations. Democrats slammed Nunes for his unsupported assertions, pointing out that his credibility has been in question ever since he gave the deposed President — who remains under investigation by multiple committees as well as special counsel — information that compromised the investigation.  </p>

<blockquote>Citing White House protocols, Pence detained hundreds of West Wing employees — including senior officials Steve Bannon, Reince Priebus, Kellyanne Conway and Sean Spicer — who are believed to be under house arrest and monitored with the use of ankle bracelets.</blockquote>

<p>House Speaker Paul Ryan has subpoenaed Mr. Trump’s personal physician, Dr. Harold N. Bornstein, who declared last year that his then-69-year-old patient would be <q>the healthiest individual ever elected to the presidency,</q> despite a body-mass index that put him in the <q>obese</q> category, and reliance on a regimen of medications.</p>

<p>Those include Propecia, a prostate-related drug that can promote hair growth; rosuvastatin to lower cholesterol; tetracycline, a common antibiotic, to control Mr. Trump’s rosacea skin ailment; and a daily baby aspirin to reduce the risk of a heart attack. </p>

<p>Dr. Bornstein has never commented on Mr. Trump’s mental state and has said he will defy the Congressional subpoena on <q>patient-physician privilege.</q> Numerous psychiatrists have suggested that Mr. Trump suffers from Narcissistic Personality Disorder or egodystonia. </p>

<p><q>I will not betray the sacred bond between a doctor and patient,</q> the physician said. <q>But I can tell you that his body is like a 1967 Pontiac GTO and he gets regular, firm, substantial erections.</q> (See, <q>Trump’s Penile Obsession is Hard, Er, Difficult, to Fathom,</q> on Page A17.)</p>

<p>Against the backdrop of Congressional intrigue, Americans have begun aligning with the Trump or Pence camps. The debate has turned violent in some regions. (See, <q>Tense, Divided Nation, Awash in Guns, Has Finger on Hair Trigger,</q> on Page A18.)</p>

    {% include 'includes/ad04.html' %}

<p>A supermarket in Austin, Texas, reported a bullet had been fired through the front window, where a photo labeled <q>President Pence</q> had been installed.</p>

<p><q>We were just tryin’, you know, to be all patriotic and [expletive],</q> said owner Darrin McHandry. <q>I mean, he is the President until all this stuff gets figgered out. Who would shoot at a photo of the President?</q></p>

<p>Bomb threats against Jewish community centers also continued at rates reported before Mr. Pence’s constitutional maneuver.</p>

<p>Although the 25th Amendment limits the presidency to either Mr. Trump or Mr. Pence, many Americans are discussing the notion of a compromise candidate, such as Hillary Clinton, who narrowly lost to Mr. Trump in November. (See, <q>Trump Quickly Tweets Reaction to This Very Times Article; ’It Was Not a ’Narrow’ Loss, Failing @nytimes,’ he said,</q> on Page A15.)</p>

<p>Mrs. Clinton offered no public comment, though a neighbor of hers incited an Internet frenzy by posting a photo of the vanquished Democrat walking in the woods near her Chappaqua home with the caption, <q>Walking back to Washington?! I’m with her!</q></p>

<p>The former secretary of state issued a statement that she was merely taking a shortcut through a wooded area to get to the supermarket.</p>

<p>Meanwhile, former Vice President Al Gore, who lost his own narrow election in 2000, said in a statement he was <q>certainly ready and willing to serve our nation, should a compromise candidate be needed at the end of the 21-day debate.</q></p>

<p>It is unclear why Mr. Gore issued his statement. Hours later, a printout of the press release was found in a recycling bin inside Speaker Ryan’s office in the Longworth building.</p></ul>

<a href="{{response.app.url_root}}chapter/23/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &nbsp; &#9654;</div>
    <div class="up-next-chapter">chapter 23</div> 
    <div class="up-next-details">Ivanka’s see her destiny in her jewelry line</div>
    {% include 'includes/satire.html' %}
</div>
</a>
