<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Fiction | Coup! Ch. 24: The apple that must fall far from the tree",
        "url": "http://interactive.nydailynews.com/fiction/coup/chapter/24/",
        "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
        "dateCreated": "2017-06-16T05:00:00Z",
        "articleSection": "Interactive",
        "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
        "keywords": ["interactive","interactive fiction", "Melania Trump", "Donald Trump", "Mike Pence", "politics", "satire"]
    }
</script>

<h1>The apple that must fall far from the tree</h1>
{% include 'includes/social.html' %}

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/24-ivanka-chelsea.png" alt="A cartoon drawing of Ivanka Trump and Chelsea Clinton on a phone call">
</div>

<p class="date">Sunday, June 25, 2017</p>

<p><q>Chelsea?</q></p>

<p><q>Ivanka?</q></p>

<p><q>Oh my God —</q></p>

<p><q>Oh my God —</q></p>

<p><q>I was just —</q></p>

<p><q>I was just —</q></p>

<p><q>No, you start!</q></p>

<p><q>No, YOU start!</q></p>

<p><q>No, seriously, you.</q></p>

<p><q>OK. Chelsea, something is going on and I need your help.</q></p>

<p class="dropcap">Chelsea Clinton had waited to hear those words since her best friend’s father had been revealed in a leaked <q>Access Hollywood</q> tape to be a serial philanderer and molester of women. She had expected a call from her BFF after America’s intelligence agencies concluded that the Russians helped her father get elected. She had expected a call after her best friend’s father tweeted random conspiracy theories and claims that millions of people voted illegally. She was certain her best friend would reach out after her father, the then-President, submitted a budget with zero dollars for the National Endowment for the Arts and other causes dear to the two friends. And she was stunned when her best friend didn’t call when the vice president executed a completely legal coup against her father, the then-President.</p>

<p><q>What took you so long?</q> Clinton said, non-judgmentally.</p>

<p><q>Well, you know, your mom...my dad...the election...the ‘lock her up’ stuff,</q> Ivanka started. <q>It got all complicated.</q></p>

<p><q>Is this the same woman who once told me, ‘The easy path isn’t generally the one worth taking’ — and then put it on a card and sold it in packages of 10 for $40?</q></p>

<p><q>You’re right. We’re women. And we’re the children of egotistical narcissists who think they are the only ones who can fix the country. You and I have to stick together!</q></p>

<blockquote>They laughed for longer than most people do when the subject is the misfortune of others.</blockquote>

<p><q>The apple doesn’t fall far from the tree, does it, Ivanka?</q> Chelsea asked lightly, and they laughed a hearty laugh that said, <q>Wow, we’re really lucky to be able to laugh about something the country can only cry about.</q> They laughed for longer than most people do when the subject is the misfortune of others.</p>

<p><q>Anyway, I was looking at my jewelry today —</q></p>

<p><q>What else is new?</q></p>

    {% include 'includes/ad02.html' %}


<p><q>Here’s what’s new: I saw a vision. I was leading an army of men and women with rifles to the White House — against my father and in support of Mike Pence.</q></p>

<p>Chelsea answered with a <q>Well, duh,</q> intonation.</p>

<p><q>That makes total, complete sense. The vision is telling you what you already know: Your father may or may not be a madman, but that’s not what you’re fighting for. You’re fighting for yourself. You don’t care who the President is.</q></p>

<p>Ivanka responded uncertainly. <q>I think I care who the president is, Chelsea,</q> </p>

<p><q>Really? Did you care before your father became President? Face it, all that ever mattered was the Trump brand. It’s why your dad ran in the first place. And then he won — and look what happened.</q></p>

<p><q>The country is on the verge of civil war,</q> Ivanka moaned.</p>

<p><q>Not that — I’m talking about the Trump brand. It’s in the toilet — and not a gold toilet like the one on your dad’s plane. You have to get out. That brand is dragging you down.</q></p>

<p><q>So I should take Jared’s name? Be ‘Ivanka Kushner’ instead?</q></p>

<p><q>Have you been taking Donald Trump pills or something? Are you nuts? You’re the brand, Ivanka. You always have been. So now it’s time for a new ‘Wise Words’ card for your website: ‘Never let your mentally ill dad get in your way (even if he did loan you everything you needed to get your start).’ Fight for yourself, Ivanka.</q></p>

<p><q>So if he goes away, I’m out for good?</q></p>

<p><q>You’re out for good.</q></p>

<p><q>I’m out for good! Now, what will I wear?</q></p>

<a href="{{response.app.url_root}}chapter/25/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 25</div> 
    <div class="up-next-details">Ivanka’s 15 minutes ... of battle</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>

