<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Fiction | Coup! Ch. 25: America's second Civil War",
        "url": "http://interactive.nydailynews.com/fiction/coup/chapter/25/",
        "thumbnailUrl": "http://interactive.nydailynews.com/fiction/coup/static/img/coup-share.jpg",
        "dateCreated": "2017-06-16T05:00:00Z",
        "articleSection": "Interactive",
        "creator": ["Gersh Kuntzman", "Bill Bramhall", "Interactive Longform"],
        "keywords": ["interactive","interactive fiction", "Melania Trump", "Donald Trump", "Mike Pence", "politics", "satire"]
    }
</script>

<h1>America’s second Civil War</h1>
{% include 'includes/social.html' %}

<p class="date">Tuesday, June 27, 2017</p>

<p class="dropcap">Two dozen journalists yelled as Ivanka Trump led 15,000 heavily armed Americans down Connecticut Avenue.</p>

<p><q>Ms. Trump! Ms. Trump,</q> many yelled in hope of summoning a glance their way.</p>

<p>Trump had just marched through Farragut Square, and now she led her army onto Jackson Place and toward the White House. The media was massed at  the General Rochambeau statue. Trump halted.</p>

<p><q>Ivanka!</q> a cry went up, and this time she turned. It was Anderson Cooper.</p>

<p><q>Yes, Anderson?</q> she asked.</p>

<p><q>What are you wearing?</q> he asked.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/25-ivanka-triumphant.png" alt="A cartoon drawing of Ivanka Trump with a sword and a flag in front of the U.S. Capitol">
</div>

<p><q>Thank you for asking. I’m wearing iron pauldrons, breastplate and rerebraces and vambraces —  from the ‘Ivanka by Ivanka’ collection. And my halberd is by Tom Ford.</q></p>

<p><q>Are you leading this army in support of Mike Pence, who . . . </p>

<p>Trump interjected before Cooper could utter the word <q>depose.</q></p>

<p><q>I am here because my father has done grave damage. I will ring this White House with patriots to ensure that my father is cast into oblivion so that we can all work to restore the Trump name.</q></p>

<p>Cooper put his finger to his earpiece.</p>

    {% include 'includes/ad02.html' %}

<p><q>Sorry, Ivanka,</q> he said, turning away, <q>but I have breaking news: An army under the leadership of former President Trump’s Senior Policy Adviser and 31-year-old manchild Stephen Miller is moving north from the Fred Trump Memorial on the Mall. We go live to Jim Acosta with the rebels.</q></p>

<p><q>Thank you, Anderson,</q> Acosta said. <q>I am, indeed, with the rebels as they advance towards the White House. I’m here with Donald Trump supporter Jerry Miller, who collected his AR-15, his AK-47, his Sig Sauer 9 mm handgun, his Colt .45 revolver, his M16 rifle, 2,000 rounds of ammunition and a Mountain Dew the moment after Mike Pence had assumed power.</q></p>

<blockquote><q>There’s a reason the Second Amendment is so much higher than the 25th Amendment — it’s more important! I mean, there’s free speech and free guns. After that, you kinda lost my attention</q></blockquote>

<p><q>You bet, Jim,</q> Miller said. <q>I grabbed every gun I could carry. I’m sorry I had to leave behind my Glock 17, my Uzi SMG and my Bergara B14 BMP, which Field and Stream called the ‘baddest gun’ of 2017! But I just couldn’t carry them all.</q></p>

<p><q>Why did you take up arms against Acting President Pence, Mr. Miller?</q></p>

<p><q>Well, first of all, he’s not my president. You can hashtag that all you want: Hashtag small Mike Pence. Second of all, this is why we have the Second Amendment — so citizens can fight off government tyranny!</q></p>

<p><q>Even against the 25th Amendment?</q></p>

<p><q>Well, there’s a reason the Second Amendment is so much higher than the 25th Amendment — it’s more important!</q> Miller said. <q>I mean, there’s free speech and free guns. After that, you kinda lost my attention, know what I’m sayin’?</q></p>

<p><q>So what are you going to do when you reach the Ivanka by Ivanka brigade?</q></p>

<p><q>I’ll start firing.</q></p>

<br>
<hr class="fancy">

<p class="dropcap">The <q>battle</q> lasted all of 15 minutes. Certain they would be celebrated as liberators, Miller’s troops were wholly unprepared when Army snipers unleashed a human turkey shoot from the roof of the Eisenhower Executive Office Building.</p>

<p>The most heavily armed rebels scattered with dreams of guerrilla warfare. Jerry Miller made it all the way to the Ivanka by Ivanka position at the Rochambeau statue only to be decapitated with one swing of Ivanka’s medieval-style (and high-style) weapon. In all, Ivanka killed 36 rebels before suffering a neck wound, patching it with her Chambray Tie-Front Blouse (on sale for $47.40 at lordandtaylor.com!) and slaughtering 14 as they retreated past the boarded up former headquarters of the Consumer Financial Protection Bureau.</p>

<p>Ivanka’s heroism in defense of the Constitution and her father’s usurper — and against her own flesh and blood — became the stuff of legend even before the battle ended.</p>

<p><q>It was like watching Joan of Arc,</q> Cooper told CNN anchor Jake Tapper, whose eyebrow raised to prove his exceptionalism. </p>

<p><q>Except, you’ll recall, Anderson, that Joan of Arc was captured, tried and burned at the stake. What became of Ivanka Trump after today’s battle?</q></p>

    {% include 'includes/ad03.html' %}

<p><q>We have some video!</q> Cooper said.</p>

<p>Viewers saw smoke, wounded and dead men and women on  Pennsylvania Avenue, a Russian soldier, a neo-Nazi in jackboots and a brownshirt resisting capture. </p>

<p>Wearing a blaze orange <q>MEDIA</q> flak jacket and matching pocket square, Cooper raced with a camera crew to Ivanka Trump’s position.</p>

<p><q>Ivanka! Ivanka!</q> he screamed. <q>You’ve beaten back the rebels. Now what?</q></p>

<p>Trump responded with a voice suited to offering canapes to a cocktail party guests, </p>

<p><q>Ivanka by Ivanka has always stood by all women who work. I am just one of America’s working women. So I’ll just do what I’ve always done: Get back to work. It’s all posted on my new website, IvankaByIvanka.com.</q></p>

<a href="{{response.app.url_root}}chapter/26/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 26</div> 
    <div class="up-next-details">The Trump Coup: a look back</div>
    {% include 'includes/satire.html' %}
    <a href="{{response.app.url_root}}"><div class="start-over">&#9664; start over</div></a>
</div>
</a>