<div class="full-width">
    <img src="{{response.app.url_root}}static/img/epi-trump-approval.png" alt="A cartoon drawing of President Trump standing on a chart of his rapidly falling approval rating">
</div>

<p class="date">Sunday, October 22, 2017</p>
<p>Mike Pence is the 46th President of the United States. </p>

<p>Donald Trump, the deposed 45th President of the United States, lives in exile in Moscow in a replica Trump Tower penthouse. He meets Vladimir Putin on Tuesday nights for S&amp;M with female musicians in the torture room in the Museum of the History of Corporal Punishment.</p>

<p>Melania Trump lives in Trump Tower in New York. She uses four dating apps including Tinder, Bumble and Coffee Meets Bagel.</p>

<p>Ivanka Byivanka — formerly Ivanka Trump — is the nation's leading maker and distributor of jewelry, apparel and high-fashion armor. She is also a motivational speaker and advocate for the right of children to divorce their parents.</p>

<p>Steve Bannon lives on a commune outside of Barstow, California. During his house arrest under Acting President Pence, Bannon read <q>Zen and the Art of Motorcycle Maintenance</q> — thinking it was actually about fixing motorcycles — and realized he had made some crucial mistakes in his life.</p>

<p>Charles Schumer is the senior senator from New York and Senate minority leader. He is working on a bill that would legalize barbecuing on city terraces.</p>

<p>Ben Carson remains Secretary of Housing and Urban Development, while  branching out into side projects after President Pence cut all agency funding. Carson founded <q>Bhang Bang,</q> the nation's first gun range and marijuana dispensary.</p>

<p>Deep State is REDACTED.</p>

<p>Rex Tillerson has taken over five Cabinet departments, truncated to one because of budget cuts. The Departments of State, Interior, Labor, Agriculture and Energy have been renamed the Department of Extra Stuff We Can't Afford.</p>

<p>Gen. James Mattis remains Secretary of Defense, but has started  a lucrative side business waterboarding at fetish clubs in the West Village.</p>

<p>Moscow Agent 2094 returned to Russia and abandoned her cover to resume her life as violinist Irina Raskolnikova. She lives with Russian President Vladimir Putin in a gated community just north of Moscow.</p>

<p>Rick Perry remained Energy Secretary and not only did not fold the agency, but expanded its research mission. He directed the Human Genome Project to explore whether oxygen deprivation could enhance sexual pleasure.</p>

<p>Elaine Chao is the vice president of the United States, thanks to a 94-6 confirmation vote in the Senate. After the vote, she drove directly to the vice presidential residence at the Naval Observatory and issued the following order to her top aide: <q>Get me a copy of the goddamned Constitution!</q></p>
