<div class="chapter-text">
<p class="date">The following email was received at tips@nydailynews.com on June 22, 2042:</p>

    <p class="dropcap">I was a career Central Intelligence Agency covert operative for more than 30 years. For most of that time, I worked overseas. For all that time, I hid in plain sight. I had planned to take my secrets to the grave but, with my life slipping away, I changed my mind.</p>

    <p>Thanks to inoperable rectal cancer, I won't last until the 25th anniversary of the overthrow of President Donald Trump by Vice President Mike Pence under the 25th Amendment. With so much interest in the coup, and so many misconceptions about it, I am going to set the historical record straight. Where should I start?</p>

    {% include 'includes/ad02.html' %}

    <p>Well, first of all, I know this note will remind you of how the FBI’s Mark Felt owned up to being Watergate’s Deep Throat just before he died. But Deep Throat, may he rest in peace, knew nothing compared to what I saw and did in the summer of 2017 to ensure that Pence's plot worked. In fact, I was involved from the very first day.</p>

    <p>How about you call me Deep State?</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/pro-pence-coat.png" alt="A cartoon drawing of Mike Pence in front of the White House walking with a shadowy man in a coat.">
</div>

	<p>I guess I should give you a little background. At that point, I had been at the agency for 17 years and had just come in from the cold after a stint as a N.O.C. in Russia. That's <q>non-official cover.</q> It's how the agency deployed agents overseas.</p>

	<p>We'd put people in no-show jobs with American companies to get them over there to do all the spying they could. In my case, I worked as a <q>petroleum engineer</q> with Exxon when it was partnering with Rosneft, which always sounded to me like the Russian word for <q>state theft.</q> As a N.O.C., I moved around the country fairly easily.</p>

    <p>So I knew things about Russia. And about Vladimir Putin. So I knew Trump's collusion with the Russians was not going to end well. On top of that, I recognized that Trump was crazy on his first full day in office, when he visited CIA headquarters.</p>

    {% include 'includes/ad03.html' %}

    <p>He was supposed to show solidarity with the troops — the very same ones he had offended during the campaign and likened to Nazis even after he won — but the trip was a disaster. He was a complete baby — right there in front of the Wall!</p>

    <p>That wall is very sacred to CIA agents — it's the memorial to all the agents who had been killed in the line of duty. There were 117 stars etched in the wall that day. But Trump didn't use the Wall as a backdrop for a call to service. He used it as a photo op for his own vanity.</p>

<div class="full-width">
    <img src="{{response.app.url_root}}static/img/pro-cia-wall.png" alt="A cartoon drawing of Donald Trump in front of the CIA wall">
</div>

	<p>I remember that speech like it was yesterday. He started with a joke about the media and then just kept going on and on about how great he was. I remember so many of the lines to this day. <q>Trust me, I’m like a smart person</q>; <q>We should have kept the oil. But okay. Maybe you’ll have another chance</q>; <q>I have a running war with the media</q>; etc.</p>

	<p>I sat there thinking, <q>This guy is nuts, truly diagnosable nuts.</q> But the country, including Pence, only came to grips with Trump’s full-blown lunacy around the time the Justice Department appointed Robert Mueller as special counsel on May 17, 2017.</p>

    <p>Sure, we know what happened once Pence went public with the coup, but far more happened behind the scenes.</p>

	<p>Now, here is one rumor that must be cleared up immediately: Some historians still believe that the CIA, not Pence, overthrew Trump. You've heard the stories: The CIA brainwashed Pence with implanted memories of times when Trump had humiliated him — and then the CIA triggered him to act at just the right moment to start the coup. You know, like Mike Pence was some sort of <q>Manchurian Vice President</q>! What a joke. Sure, it would make a great novel, but everything that happened to end the Trump presidency happened because Mike Pence wanted it to happen.</p>

    <p>Did he have help? Positively. That’s where I came in. For one big thing, I stopped the Russians from killing Rick Perry to keep Perry from joining the coup. Sure, I may have done a few other things. But none of that is even on the list of top five bizarre events during those crazy, historic weeks ...</p>
</div>

<a href="{{response.app.url_root}}chapter/01/">
<div class="up-next-box">
    <div class="coming-soon">keep reading &#9654;</div>
    <div class="up-next-chapter">chapter 1</div> 
    <div class="up-next-details"><a href="{{response.app.url_root}}chapter/01/">Biden blinks &amp; Pence has an idea</a>
</div>
</a>
</div>
